{{#
  The button partial is used in most of the site's call to action, with the exception of the buttons in the navigation bar, footer and contact page, as these buttons have custom styles.
  
  It has three variants:
  - Primary or solid background button for main actions.
  - Secondary or transparent button, for secondary actions
  - Link or info button for links
#}}

<div class="flex items-center space-x-2 text-xs text-zinc-700 dark:text-zinc-400">
	<figure class="h-8 w-8 overflow-hidden rounded-full border border-zinc-100 object-cover grayscale dark:border-zinc-500">
		{{ if team_member }}
			{{ partial:global/picture :image="team_member:default_image" cover="true" lazy="false" maxheight="56" maxwidth="56" quality='95' }}
		{{ else }}
			{{ partial:global/picture :image="author:avatar" cover="true" lazy="false" maxheight="56" maxwidth="56" quality='95' }}
		{{ /if }}
	</figure>
	<div class="flex items-center gap-6">
		{{ if team_member }}
			{{ if link }}
				<a class="underline" href="{{ team_member:url }}">
					<span class="truncate md:w-auto">{{ team_member:title | safe_truncate:10:'...' }}</span>
				</a>
			{{ else }}
				<span class="truncate md:w-auto">{{ team_member:title | safe_truncate:10:'...' }}</span>
			{{ /if }}
		{{ else }}
			<span class="truncate md:w-auto">{{ author:name }}</span>
		{{ /if }}
		<div class="flex items-center gap-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide size-4 lucide-calendar-fold">
				<path d="M8 2v4" />
				<path d="M16 2v4" />
				<path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
				<path d="M3 10h18" />
				<path d="M15 22v-4a2 2 0 0 1 2-2h4" />
			</svg>
			<time>{{ date iso_format="DD MMMM, YYYY" }}</time>
		</div>
	</div>
</div>
