{{#
  The button partial is used in most of the site's call to action, with the exception of the buttons in the navigation bar, footer and contact page, as these buttons have custom styles.
  
  It has three variants:
  - Primary or solid background button for main actions.
  - Secondary or transparent button, for secondary actions
  - Link or info button for links
#}}

<div class="flex flex-row space-x-2 text-xs font-medium lg:items-center">
	{{ if team_member }}
		<figure class="h-8 w-8 overflow-hidden rounded-full border border-gray-100 object-cover grayscale">
			{{ partial:global/picture :image="team_member:default_image" cover="true" lazy="false" maxheight="44" maxwidth="44" quality='90' }}
		</figure>
	{{ else }}
		<figure class="h-8 w-8 overflow-hidden rounded-full border border-gray-100 object-cover grayscale">
			{{ partial:global/picture :image="author:avatar" cover="true" lazy="false" maxheight="44" maxwidth="44" quality='90' }}
		</figure>
	{{ /if }}
	<div class="flex flex-col gap-2 sm:flex-row lg:items-center lg:gap-6">
		{{ if team_member }}
			<a rel="author" class="truncate hover:underline md:w-auto md:overflow-hidden md:text-clip" href="{{ team_member:url }}">{{ team_member:title }}</a>
		{{ else }}
			<span rel="author" class="truncate md:w-auto md:overflow-hidden md:text-clip">{{ author:name }}</span>
		{{ /if }}
		<div class="flex items-center gap-2 text-zinc-800 dark:text-zinc-50">
			{{ svg src="{{config:iconamic:path}}/calendar-fold.svg" class='size-4 text-zinc-800 dark:text-zinc-50 flex-none' }}
			<time datetime="{{ date iso_format='DD-MM-YYYY' }}">
				{{ date iso_format="DD MMMM, YYYY" }}
			</time>
		</div>
	</div>
</div>
