{{ if text }}
	<{{ as or 'a' }} {{ slot:attributes }} class="bento_box group/illus {{ class }} relative isolate overflow-hidden bg-white dark:bg-zinc-900" {{ if link_type == 'entry'}} href="{{ entry:url }}" {{ /if }} {{ if link_type == 'url'}} href="{{ url }}"{{ /if }} {{ if link_type == 'email'}} href="mailto:{{ email | obfuscate_email }}"{{ /if }} {{ if link_type == 'tel'}} href="tel:{{ tel }}"{{ /if }} {{ if target_blank }} rel="noopener" target="_blank" {{ /if }} {{ if attr_title }} title="{{ attr_title }}" {{ /if }} {{ if attr_aria }} aria-label="{{ attr_aria }}" {{ /if }}>
		{{ partial:illustration/div_grid class='absolute left-0 right-0 mx-auto flex h-full w-full justify-between lg:h-full' }}
		{{ slot }}
		<div class="{{ content_class }} relative z-10 space-y-2 p-4 xl:p-8">
			<div class="group relative flex flex-col gap-1">
				{{# icon animation #}}
				<div class="relative size-7 flex-none text-purple-500 dark:text-green-500">
					<div class="absolute translate-y-0 opacity-100 transition duration-500 ease-out group-hover:-translate-y-4 group-hover:opacity-0">
						{{ svg src="{{config:iconamic:path}}/arrow-up-right.svg" class=" stroke-purple-700 size-6 transition-colors duration-300 group-hover:stroke-purple-900 dark:fill-white/10 dark:stroke-green-700 dark:group-hover:fill-purple-300/10 dark:group-hover:stroke-green-400" }}
					</div>
					<div class="absolute -translate-y-4 opacity-0 transition duration-300 group-hover:translate-y-0 group-hover:opacity-100">
						{{ svg src="{{config:iconamic:path}}/book-check" class=" stroke-purple-700 size-6 transition-colors duration-300 group-hover:stroke-purple-900 dark:fill-white/10 dark:stroke-green-700 dark:group-hover:fill-purple-300/10 dark:group-hover:stroke-green-400" }}
					</div>
				</div>
				{{# icon animation #}}
				<p class="text-zinc-700 dark:text-zinc-200">{{ text | strip_tags:p }}</p>
			</div>
		</div>
	</{{ as or 'a' }}>
{{ /if }}
