{{#
	The button partial is used in most of the site's call to action, with the exception of the buttons in the navigation bar, footer and contact page, as these buttons have custom styles.

	It has three variants:
	- Primary or solid background button for main actions.
	- Secondary or transparent button, for secondary actions
	- Link or info button for links
#}}

{{ if label }}
    <{{ as or 'a' }}
        {{ slot:attributes }}
        class="
			{{# Share properties #}}
            focus:outline-none w-fit focus-visible:ring group no-underline relative select-none whitespace-nowrap motion-safe:transition


			{{ if button_type === 'custom' }}
				{{ class }}
			{{ else }}
				{{# Contains Icons #}}
				{{if iconamic || button_type === 'inline' }}
					space-x-2 inline-flex items-center
				{{/if}}
				
				{{ if button_type !== 'inline' }}
					primary-action-button py-2 relative rounded-lg
					{{ if iconamic }}
						pr-4 pl-5
						{{ else }}
						px-4 py-3
					{{ /if }}
				{{ /if }}
				{{ if button_type === 'inline' }}
					{{# Light mode #}}
					text-purple-500 hover:text-purple-800 decoration-purple-500 focus-visible:ring-purple-500
					{{# dark mode #}}
					dark:hover:text-green-700 dark:text-green-500
					{{ elseif button_type === 'primary' }}
						text-white bg-gradient-to-b shadow-xl
						{{# Light mode #}}
						shadow-black/30 from-purple-500 to-purple-600
						{{# dark mode #}}
						dark:shadow-black/40
					{{ elseif button_type === 'secondary' }}
						border shadow-xl  hover:shadow-md
						{{# Light mode #}}
						text-zinc-800 shadow-black/20 bg-white border-zinc-500/20
						{{# dark mode #}}
						dark:text-zinc-200 dark:shadow-black/40 dark:bg-zinc-800 dark:border-white/10
				{{ /if }}
			{{ /if }}
			"
			{{ if link_type == 'url'}} href="{{ url }}" {{ /if }}
			{{ if link_type == 'entry'}} href="{{ entry:url }}" {{ /if }}
			{{ if link_type == 'url'}} href="{{ url }}"{{ /if }}
			{{ if link_type == 'email'}} href="mailto:{{ email | obfuscate_email }}"{{ /if }}
			{{ if link_type == 'tel'}} href="tel:{{ tel }}"{{ /if }}
			{{ if target_blank }} rel="noopener" target="_blank" {{ /if }}
			{{ if attr_title }} title="{{ attr_title }}" {{ /if }}
			{{ if attr_aria }} aria-label="{{ attr_aria }}" {{ /if }}

			>
			{{# The optional icons come from the public/icons folder thanks to the iconamic add on, and have a size variant applied with the medium_icon variable, and the color is defined by (stroke-current) the selected button variant. #}}
			<span>{{ label }}</span>
			{{ if iconamic }}
			{{# The animation of the hover transition is inside the button view applied from the group class. #}}
				<div class="transition-transform duration-500 ease-in-out transform ">
					{{ svg src="{{ config:iconamic:path }}/{{iconamic}}.svg" class="aspect-square {{ if medium_icon }} w-4 {{else}} w-4 {{ /if }} stroke-current" }}
				</div>
			{{ /if }}
    </{{ as or 'a' }}>
{{ /if }}