<section class="container">
	<div class="aspect-w-16 aspect-h-9 inset-0 flex transform items-center justify-center overflow-hidden rounded-lg shadow-xl shadow-purple-500/20 transition duration-500 ease-in-out group-hover:shadow-2xl">
		{{ if video | is_embeddable }}
			<!-- Youtube and Vimeo -->
			<iframe src="{{ video | embed_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		{{ else }}
			<!-- Other HTML5 video types -->
			<video src="{{ video | embed_url }}" ...></video>
		{{ /if }}
	</div>
</section>
