{{#
	@name Pull quote
	@desc The pull quote component. A pull quote with an optional author.
    @set page.article.pull_quote
#}}

<!-- /components/_pull_quote.antlers.html -->
<figure
    class="
        not-prose
        {{ if size == 'md'}} size-md {{/if}}
        {{ if size == 'lg'}} size-lg {{/if}}
        {{ if size == 'xl'}} size-xl {{/if}}
        {{ if size == ''}}  {{/if}}
    "
>
    <blockquote>
        {{ quote | nl2br | strip_tags:p }}
        {{ if author }}
        <hr class="relative w-1/2">
        {{ /if }}
        {{ if author }}
            <figcaption class="block mt-4 text-slate-500">
                {{ author }}
            </figcaption>
        {{ /if }}
    </blockquote>
</figure>
<!-- End: /components/_pull_quote.antlers.html -->
