<form class="js-cm-form {{ class }} group/form relative" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="{{ site_information:campaign_monitor_id }}">
	<div class="space-y-4 lg:space-y-0">
		<div class="relative">
			<input placeholder="you@example.com" autocomplete="Email" aria-label="Email" class="js-cm-email-input qa-input-email lg:py- relative block w-full text-ellipsis rounded-2xl border border-transparent bg-zinc-800 px-4 py-3 text-base valid:focus:ring-green-500 invalid:focus:ring-purple-500 dark:valid:focus:ring-green-500 dark:invalid:focus:ring-purple-500 lg:px-3" id="fieldEmail" maxlength="200" name="cm-jklkjtu-jklkjtu" required type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" />
		</div>
		<div class="inset-y-0 right-0 flex items-center lg:absolute lg:pr-1">
			<button class="inline-flex w-full items-center justify-center rounded-[6px] border border-green-600 bg-green-500 px-4 py-2 text-base font-bold text-black transition-all duration-200 hover:border-zinc-300/30 hover:bg-zinc-900 hover:text-white lg:border-transparent" type="submit">Subscribe</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
