<form class="js-cm-form {{ class }} relative" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="92D4C54F0FEC16E5ADC2B1904DE9ED1A8B0C7F95E470273A3AFE7B83D22421725B72DC4A83D6A13A1B13F7F68BA8B499B59C222F2FFFA7C58BD4C707EBCCB890">
	<div class="space-y-4 lg:space-y-0">
		<div class="relative">
			<input placeholder="@ Enter your email address" autocomplete="Email" aria-label="Email" class="js-cm-email-input qa-input-email relative block w-full text-ellipsis rounded-2xl border border-transparent bg-zinc-800 px-4 py-4 text-base lg:px-3 lg:py-3" id="fieldEmail" maxlength="200" name="cm-tjw-tjw" required="" type="email" />
		</div>
		<div class="inset-y-0 right-0 flex items-center lg:absolute lg:pr-1">
			<button class="inline-flex w-full items-center justify-center rounded-xl border border-zinc-300 bg-green-500 px-4 py-2 text-base font-bold text-black transition-all duration-200 hover:border-zinc-300/30 hover:bg-zinc-900 hover:text-white lg:border-transparent" type="submit">Subscribe</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
