{{# Title centred to start a section #}}
<div class="container flex
        {{ if alignment == 'left'}} justify-start {{/if}}
        {{ if alignment == 'center'}} justify-center text-center {{/if}}
        {{ if alignment == 'right'}} justify-end text-right {{/if}}
    ">
    <div class="space-y-8 lg:w-3/5 ">
        {{ partial:typography/h5 :content="pre_title" color='{{ if toggle_color }} text-purple-500 {{ else }} text-zinc-400 {{ /if }} ' }}
        {{ partial:typography/h2 :content="title" color='' }}
        {{ partial:typography/prose }}
            {{ textarea_field }}    
        {{ /partial:typography/prose }}
    </div>
</div>