<ul class="{{ class }} sticky top-48 text-zinc-700 dark:text-zinc-400">
	<li>
		<a class="flex items-center justify-center rounded-full p-2" href="http://twitter.com/share?url={{ permalink }}&text={{ title }}&via=webslice" title="Share on Twitter" aria-label="Share on Twitter" target="_blank" rel="noopener noreferrer">
			{{ svg src="{{config:iconamic:path}}/twitter.svg" class='size-5' }}
		</a>
	</li>
	<li>
		<a class="text-marketing-subtler flex items-center justify-center rounded-full p-2" href="https://www.linkedin.com/shareArticle?mini=true&url={{ permalink }}{{ pageurl }}&title=&summary=&source=');" title="Share on LinkedIn" aria-label="Share on LinkedIn" target="_blank" rel="noopener noreferrer">
			{{ svg src="{{config:iconamic:path}}/linkedin.svg" class='size-5' }}
		</a>
	</li>
	<li>
		<a class="text-marketing-subtler flex items-center justify-center rounded-full p-2" href="https://www.facebook.com/sharer.php?u={{ permalink }}" title="Share on Facebook" aria-label="Share on Facebook" target="_blank" rel="noopener noreferrer">
			{{ svg src="{{config:iconamic:path}}/facebook.svg" class='size-5' }}
			{{# } #}}
		</a>
	</li>
</ul>
