<ul class="{{ class }} sticky top-48 text-zinc-500 dark:text-zinc-700">
	<li>
		<a class="flex items-center justify-center rounded-full p-2" href="http://twitter.com/share?url={{ permalink }}&text={{ title }}&via=webslice" title="Share on Twitter" aria-label="Share on Twitter" target="_blank" rel="noopener noreferrer">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide size-5 lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" /></svg>
		</a>
	</li>
	<li>
		<a class="text-marketing-subtler flex items-center justify-center rounded-full p-2" href="https://www.linkedin.com/shareArticle?mini=true&url={{ permalink }}{{ pageurl }}&title=&summary=&source=');" title="Share on LinkedIn" aria-label="Share on LinkedIn" target="_blank" rel="noopener noreferrer">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide size-5 lucide-linkedin">
				<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
				<rect width="4" height="12" x="2" y="9" />
				<circle cx="4" cy="4" r="2" />
			</svg>
		</a>
	</li>
	<li>
		<a class="text-marketing-subtler flex items-center justify-center rounded-full p-2" href="https://www.facebook.com/sharer.php?u={{ permalink }}" title="Share on Facebook" aria-label="Share on Facebook" target="_blank" rel="noopener noreferrer">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide size-5 lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" /></svg>
		</a>
	</li>
</ul>
