{{# Meta and link tags common across every page #}}

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
<title>{{ title }} - {{ site_information:name }}</title>
<!-- Meta Description 168/150 characters -->
<meta name="description" content="{{ description }}"/>
<link rel="stylesheet" href="/css/main.css"/>
<!-- Recommended favicon format -->
<link rel="icon" type="image/png" href="/img/wsico/favicon.png"/>
<link rel="apple-touch-icon" sizes="57x57" href="/img/wsico/apple-icon-57x57.png"/>
<link rel="apple-touch-icon" sizes="60x60" href="/img/wsico/apple-icon-60x60.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="/img/wsico/apple-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="/img/wsico/apple-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="/img/wsico/apple-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="/img/wsico/apple-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="/img/wsico/apple-icon-144x144.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="/img/wsico/apple-icon-152x152.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="/img/wsico/apple-icon-180x180.png"/>
<link rel="icon" type="image/png" sizes="192x192" href="/img/wsico/android-icon-192x192.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/img/wsico/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="96x96" href="/img/wsico/favicon-96x96.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/img/wsico/favicon-16x16.png"/>
<link rel="manifest" href="/img/wsico/manifest.json"/>
<meta name="msapplication-TileColor" content="#ffffff"/>
<meta name="msapplication-TileImage" content="/img/wsico/ms-icon-144x144.png"/>
<meta name="theme-color" content="#ffffff"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
