{{# Template for the landing page while the main website pages haven't been added #}}

<!-- HERO -->
<div class="relative flex items-center justify-center">
    {{# <div class="absolute w-full my-auto h-4/6 light-purple"></div> #}}
    <section class="container relative flex items-center flex-auto pt-12 mx-auto align-middle lg:min-h-screen md:pt-24 justify-items-center">
        <div class="mx-auto space-y-6 lg:w-7/12">
            <h1 class="text-3xl lg:text-5xl">{{ header }}</h1>
            <h2 class="text-lg font-normal text-gray-500 md:text-2xl">{{ content }}</h2>
            <p class="text-gray-600 sm:text-lg">{{ sign_up_prompt }}</p>

            <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E9056191E5F40F1FB285C0CD21B6B146E520F1531993D0F1174162641D0BA4283C4FEFB1ECF1874B92EE30E3662BA692DB1B874">
                <div class="flex flex-col justify-between w-full max-w-xl space-y-4 text-center md:flex-row md:space-y-0 md:space-x-4">
                    <input id="fieldEmail" name="cm-sidkdy-sidkdy" type="email" class="" placeholder="your@email.com" required />
                        <span class="absolute top-0 right-0 flex items-center justify-center w-10 h-full text-center text-gray-600 pointer-events-none"></span>
                    <button type="submit" class="inline-flex items-center flex-none px-8 py-4 font-semibold text-white bg-purple-500 hover:bg-purple-800 hover:text-purple-100 focus-visible:ring-offset-purple-900 group text-md focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2">
                        Notify Me
                        <div class="transition duration-500 ease-in-out transform ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white transition duration-500 ease-in-out transform translate-x-2 group-hover:text-purple-100 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </div>
                    </button>
                    {{# Old btn commented as a precaution against the action being associated with some sort of #}}
                    {{# <button class="flex items-center justify-center flex-none w-full sm:w-auto primary-btn" type="submit">
                        <svg class="w-4 h-4 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
                        </svg>
                        Notify Me
                    </button> #}}
                </div>
            </form>
            <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
            <div class="mt-4 text-red-500" style="display: none">Invalid email address</div>
        </div>
    </section>
</div>