<!DOCTYPE html>
<html class="" lang="en">
	<head>
		{{ partial:global/page_head }}
		{{ partial:global/meta }}
		<link fetchpriority="high" href="/css/main.css?{{ config:app:cache_timestamp }}" rel="stylesheet" />
	</head>
	<body class="scroll-smooth dark:bg-zinc-900">

		{{ if environment == "production" }}
			{{# google tag manager #}}
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZJJ5BFW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		{{ /if }}
		
		{{ partial:global/nav }}
		{{ template_content }}
		{{ partial:global/footer }}
	</body>
</html>
