<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial:page_head}}
    <!-- Open Graph / Facebook -->
    <meta property="og:url" content="{{ site_information:url }}{{ url }}"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta
        property="og:image"
        content="/img/Open-Graph.jpg
        "
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="{{ site_information:url }}{{ url }}"/>
    <meta property="twitter:title" content="{{ title }}"/>
    <meta property="twitter:description" content="{{ description }}"/>
    <meta property="twitter:image" content="/img/Open-Graph.jpg"/>
</head>
    {{ template_content }}
    {{ partial:lottie }}

