<header class="my-12 text-center md:my-16 md: lg:my-24">
    <p class="mb-4 text-lg antialiased font-bold text-green">Search Results For</p>
    <h1 class="text-6xl font-bold md:text-7xl lg:text-8xl">{{ get:q }}</h1>
</header>
<section class="flex-col max-w-4xl mx-auto space-y-4 divide-y">
    {{ search:results index="documentation" }}
    <div class="py-4">
        <div class="flex items-center justify-between">
            <h2>
				<a class="inline-block text-3xl font-bold text-yellow hover:underline" href="{{ url}}">
				{{ title }}
				</a>
			</h2>
			{{ if documentation }}
				{{ documentation }}
				<div class="px-3 py-1 text-sm font-bold text-gray-100 rounded-full bg-zinc-400">
					{{ title }}
				</div>
				{{ /documentation }}
			{{ /if }}
        </div>
        <div class="mt-2 text-zinc-500 font-regular">
			{{ article }}
				{{ text | safe_truncate:200:... }}
			{{ /article }}
        </div>
    </div>
    {{ /search:results }}
</section>
