{{# Partial to show the hero section of the homepage #}}
<div class="absolute top-0 w-full lines"></div>
<section class="relative">
    <!-- container -->
    <div class="container relative px-4 mx-auto sm:px-8 lg:px-16 xl:px-20">
        <!-- hero wrapper -->
        <div class="grid grid-cols-1 pt-10 space-y-6 md:space-y-0 md:gap-48 md:grid-cols-2">

            <!-- hero text -->
            <div class="hero-text ">
                <div class="space-y-6 md:space-y-4 lg:space-y-8 xl:space-y-9">
                <h1 class="text-6xl font-extrabol">
                        {{ hero_home_title }}
                </h1>
                <h3 class="text-base font-light text-gray-800 josefin sm:max-w-md lg:text-2xl md:max-w-3xl">
                    {{ hero_home_description | strip_tags:p }}
                </h3>
                <p class="mt-4 text-gray-900 reveal-3 md:mt-8 lg:mx-0" data-sr-id="3" style="visibility: visible; opacity: 1; transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 1.5s;">⚡ ️Get your free $5 credit upon signing up today!</p>
                <!-- Form -->
                <div class="flex flex-col justify-between mt-8 space-y-4 text-center md:flex-row md:space-y-0 md:space-x-4 reveal-4">
                    <input type="text" placeholder="your@email.com" id="email_address" class="" />
                    <button class="flex items-center justify-center flex-none ml-0 space-x-2 primary-btn">
                        <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M2.003 5.884 10 9.882l7.997-3.998A2 2 0 0 0 16 4H4a2 2 0 0 0-1.997 1.884z"/>
                            <path d="m18 8.118-8 4-8-4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8.118z"/>
                        </svg>
                        <span>Sign up</span>
                    </button>                    
                </div>
                <!-- /Form -->
                {{ if hero_home_primary or hero_home_secondary }}
                    <div class="flex flex-col space-y-5 md:space-y-0 md:space-x-5 md:flex-row md:justify-start">

                            {{ if hero_home_primary }}
                            <a href="{{ hero_home_primary }}" class="flex items-center justify-center w-full md:mt-0 md:w-auto primary-btn">
                                <span>{{ hero_home_primary_text }}</span>
                            </a>       
                            {{ /if }}
                            {{ if hero_home_secondary }}
                            <a href="{{ hero_home_secondary }}" class="flex items-center justify-center w-full md:mt-0 md:w-auto secondary-btn">
                                <span>{{ hero_home_secondary_text }}</span>
                            </a>       
                            {{ /if }}

                    </div>
                {{ /if }}

                </div>
            </div>

            <!-- hero image -->
            <div class="flex items-center ">
                <img class="object-cover w-full bg-cover" src="{{ glide:hero_home_image width='600' height='337.5' dpr='2' fm='webp' }}" width="600" height="337.5" alt="" />
            </div>
        </div>
    </div> 
</section>