{{# grid_size comes from _bento_features.antlers.html #}}
{{# Lines #}}
<div class="absolute inset-0 -z-10 rotate-180 rounded-xl bg-[repeating-linear-gradient(-45deg,_rgba(100,100,100,_0.15),_rgba(100,100,100,_0.15)_1px,_transparent_1px,_transparent_6px)] [background-size:8px_8px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)] dark:bg-[repeating-linear-gradient(-45deg,_rgba(255,255,255,_0.03),_rgba(255,255,255,_0.03)_1px,_transparent_1px,_transparent_6px)]"></div>
