{{# grid_size comes from _bento_features.antlers.html #}}
<div class="{{ class }} flex-row">
	{{ if grid_size == 1 }}
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
	{{ elseif grid_size == 2 }}
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
	{{ elseif grid_size == 3 }}
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-x border-dashed dark:border-zinc-200/5"></div>
	{{ /if }}
</div>
<div class="{{ class }} flex-col">
	{{ if grid_size == 1 }}
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
	{{ elseif grid_size == 2 }}
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
	{{ elseif grid_size == 3 }}
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
		<div class="border-zinc-900/7 h-full w-full border-y border-dashed dark:border-zinc-200/5"></div>
	{{ /if }}
</div>
