<svg class="{{ class }}" width="1165" height="575" viewBox="0 0 1165 575" fill="none" xmlns="http://www.w3.org/2000/svg">
	<mask id="mask0_188_26531" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1165" height="575">
		<rect x="0.039917" width="1164.92" height="575" fill="url(#paint0_linear_188_26531)" />
	</mask>
	<g mask="url(#mask0_188_26531)">
		<mask id="mask1_188_26531" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1165" height="575">
			<g opacity="0.2">
				<path d="M0.0378418 575H1164.96V0H0.0378418V575Z" fill="url(#paint1_linear_188_26531)" />
			</g>
		</mask>
		<g class="text-zinc-800 dark:text-zinc-100" mask="url(#mask1_188_26531)">
			<g filter="url(#filter0_i_188_26531)">
				<path d="M-223.417 -174.999L1276.58 -1675L2776.57 -174.999L1276.58 1325L-223.417 -174.999Z" fill="currentColor" fill-opacity="0.1" />
			</g>
			<path d="M-223.408 -175.001L1276.59 -1675L2776.58 -175.001L1276.59 1325L-223.408 -175.001Z" stroke="url(#paint2_linear_188_26531)" stroke-opacity="0.5" />
			<g filter="url(#filter1_i_188_26531)">
				<path d="M-50.5199 -174.999L1276.6 -1502.12L2603.71 -174.999L1276.6 1152.12L-50.5199 -174.999Z" fill="currentColor" fill-opacity="0.1" />
			</g>
			<path d="M-50.5283 -175.01L1276.59 -1502.13L2603.7 -175.01L1276.59 1152.11L-50.5283 -175.01Z" stroke="url(#paint3_linear_188_26531)" stroke-opacity="0.5" />
			<g filter="url(#filter2_i_188_26531)">
				<path d="M127.968 -175.01L1276.59 -1323.63L2425.2 -175.01L1276.59 973.611L127.968 -175.01Z" fill="currentColor" fill-opacity="0.1" />
			</g>
			<path d="M127.969 -175.013L1276.59 -1323.63L2425.21 -175.013L1276.59 973.608L127.969 -175.013Z" stroke="url(#paint4_linear_188_26531)" stroke-opacity="0.5" />
			<g filter="url(#filter3_i_188_26531)">
				<path d="M312.074 -175L1276.59 -1139.52L2241.11 -175L1276.59 789.521L312.074 -175Z" fill="currentColor" fill-opacity="0.1" />
			</g>
			<path d="M312.068 -175.017L1276.59 -1139.54L2241.11 -175.017L1276.59 789.504L312.068 -175.017Z" stroke="url(#paint5_linear_188_26531)" stroke-opacity="0.5" />
		</g>
	</g>
	<defs>
		<filter id="filter0_i_188_26531" x="-223.417" y="-1675" width="2999.99" height="3000" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_188_26531" />
		</filter>
		<filter id="filter1_i_188_26531" x="-50.5199" y="-1502.12" width="2654.23" height="2654.24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_188_26531" />
		</filter>
		<filter id="filter2_i_188_26531" x="127.968" y="-1323.63" width="2297.24" height="2297.24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_188_26531" />
		</filter>
		<filter id="filter3_i_188_26531" x="312.074" y="-1139.52" width="1929.04" height="1929.04" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_188_26531" />
		</filter>
		<linearGradient id="paint0_linear_188_26531" x1="212.161" y1="289.588" x2="1055.53" y2="114.122" gradientUnits="userSpaceOnUse">
			<stop offset="0.759534" stop-color="currentColor" />
			<stop offset="1" stop-color="currentColor" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint1_linear_188_26531" x1="582.235" y1="477.047" x2="582.235" y2="34.268" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.617359" stop-color="white" />
			<stop offset="0.75" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint2_linear_188_26531" x1="1276.56" y1="-1193.21" x2="1276.56" y2="1323.8" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint3_linear_188_26531" x1="1276.56" y1="-1075.87" x2="1276.56" y2="1151.05" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint4_linear_188_26531" x1="1276.57" y1="-954.706" x2="1276.56" y2="972.704" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint5_linear_188_26531" x1="1276.56" y1="-829.743" x2="1276.56" y2="788.737" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
	</defs>
</svg>
