<div class="{{ class }} relative -translate-y-[200px] translate-x-1/4 rotate-[30deg]">
	<div class="triangle_overlap absolute flex w-full items-center justify-center align-middle [xmask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_10%,transparent_100%)]">
		<div class="absolute size-[600px] border-[1px] border-zinc-300/20 bg-gradient-to-r from-zinc-600/10 to-white/10 dark:border-zinc-500/20 dark:from-zinc-600/20"></div>
		<div class="absolute size-[700px] border-[1px] border-zinc-300/20 bg-gradient-to-r from-zinc-600/10 to-white/10 dark:border-zinc-500/20 dark:from-zinc-600/20"></div>
		<div class="absolute size-[800px] border-[1px] border-zinc-300/20 bg-gradient-to-r from-zinc-600/10 to-white/10 dark:border-zinc-500/20 dark:from-zinc-600/20"></div>
		<div class="absolute size-[900px] border-[1px] border-zinc-300/20 bg-gradient-to-r from-zinc-600/10 to-white/10 dark:border-zinc-500/20 dark:from-zinc-600/20"></div>
	</div>
</div>
