<div class="{{ class }} relative">
	<div class="absolute flex w-full skew-x-[45deg] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_10%,transparent_100%)]">
		<div class="h-[640px] w-[120px] bg-gradient-to-r from-zinc-600/20 to-transparent dark:from-white/10"></div>
		<div class="h-[640px] w-[120px] bg-gradient-to-r from-zinc-600/20 to-transparent dark:from-white/10"></div>
		<div class="h-[640px] w-[120px] bg-gradient-to-r from-zinc-600/20 to-transparent dark:from-white/10"></div>
		<div class="h-[640px] w-[120px] bg-gradient-to-r from-zinc-600/20 to-transparent dark:from-white/10"></div>
	</div>
	<div class="absolute flex w-full skew-x-[-45deg] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_10%,transparent_100%)]">
		<div class="h-[640px] w-[120px] bg-gradient-to-r from-zinc-600/20 to-transparent dark:from-white/10"></div>
		<div class="h-[640px] w-[120px] bg-gradient-to-r from-zinc-600/20 to-transparent dark:from-white/10"></div>
		<div class="h-[640px] w-[120px] bg-gradient-to-r from-zinc-600/20 to-transparent dark:from-white/10"></div>
		<div class="h-[640px] w-[120px] bg-gradient-to-r from-zinc-600/20 to-transparent dark:from-white/10"></div>
	</div>
</div>
