<svg class="{{ class }} hidden dark:block" width="2496" height="575" viewBox="0 0 2496 575" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g clip-path="url(#clip0_200_11583)">
		<mask id="mask0_200_11583" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="2496" height="575">
			<g class="opacity-40">
				<path d="M2495.35 575H0.648438V0H2495.35V575Z" fill="url(#paint0_linear_200_11583)" />
			</g>
		</mask>
		<g mask="url(#mask0_200_11583)">
			{{# Fill Squares & Paths #}}
			<g filter="url(#filter0_i_200_11583)">
				<path class="fill-zinc-800/0 dark:fill-zinc-600/10" d="M2748 -284.999L1248 -1785L-251.991 -284.999L1248 1215L2748 -284.999Z" fill="currentColor" />
			</g>
			<path class="path-linex stroke-zinc-800/0 stroke-1 dark:stroke-zinc-200/50" d="M1248 -1784.29L2747.29 -284.999L1248 1214.29L-251.284 -284.999L1248 -1784.29Z" stroke="url(#paint1_linear_200_11583)" />
			<g filter="url(#filter1_i_200_11583)">
				<path class="fill-zinc-800/0 dark:fill-zinc-600/10" d="M2575.1 -284.999L1247.99 -1612.12L-79.1284 -284.999L1247.99 1042.12L2575.1 -284.999Z" fill="currentColor" />
			</g>
			<path class="path-linex stroke-zinc-800/0 stroke-1 dark:stroke-zinc-200/50" d="M1247.99 -1611.41L2574.4 -284.999L1247.99 1041.41L-78.4213 -284.999L1247.99 -1611.41Z" stroke="url(#paint2_linear_200_11583)" />
			<g filter="url(#filter2_i_200_11583)">
				<path class="fill-zinc-800/0 dark:fill-zinc-600/10" d="M2396.62 -285.01L1248 -1433.63L99.3788 -285.01L1248 863.611L2396.62 -285.01Z" fill="currentColor" />
			</g>
			<path class="path-linex stroke-zinc-800/0 stroke-1 dark:stroke-zinc-200/50" d="M1248 -1432.92L2395.91 -285.01L1248 862.904L100.086 -285.01L1248 -1432.92Z" stroke="url(#paint3_linear_200_11583)" />
			<g filter="url(#filter3_i_200_11583)">
				<path class="fill-zinc-800/0 dark:fill-zinc-600/10" d="M2212.51 -285.017L1248 -1249.54L283.477 -285.017L1248 679.504L2212.51 -285.017Z" fill="currentColor" />
			</g>
			<path class="path-linex stroke-zinc-800/0 stroke-1 dark:stroke-zinc-200/50" d="M2212.51 -285.017L1248 -1249.54L283.477 -285.017L1248 679.504L2212.51 -285.017Z" stroke="url(#paint4_linear_200_11583)" />
		</g>
	</g>
	<defs class="">
		<filter id="filter0_i_200_11583" x="-251.991" y="-1785" width="2999.99" height="3000" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_200_11583" />
		</filter>
		<filter id="filter1_i_200_11583" x="-79.1289" y="-1612.12" width="2654.23" height="2654.24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_200_11583" />
		</filter>
		<filter id="filter2_i_200_11583" x="99.3789" y="-1433.63" width="2297.24" height="2297.24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_200_11583" />
		</filter>
		<filter id="filter3_i_200_11583" x="282.77" y="-1250.25" width="1930.45" height="1930.46" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_200_11583" />
		</filter>
		{{# Lines #}}
		<linearGradient id="paint0_linear_200_11583" x1="1248.57" y1="477.047" x2="1248.57" y2="34.268" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.617359" stop-color="white" />
			<stop offset="0.75" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint1_linear_200_11583" x1="1248.04" y1="-1303.21" x2="1248.03" y2="1213.81" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint2_linear_200_11583" x1="1248.01" y1="-1185.85" x2="1248.01" y2="1041.06" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint3_linear_200_11583" x1="1248.02" y1="-1064.7" x2="1248.02" y2="862.707" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint4_linear_200_11583" x1="1248.02" y1="-939.743" x2="1248.02" y2="678.737" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<clipPath id="clip0_200_11583">
			<rect width="2494.7" height="575" fill="white" transform="translate(0.648438)" />
		</clipPath>
	</defs>
</svg>

<svg class="{{ class }} dark:hidden" width="2495" height="575" viewBox="0 0 2495 575" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g clip-path="url(#clip0_203_11623)">
		<mask id="mask0_203_11623" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="2495" height="575">
			<g opacity="0.5">
				<path d="M2494.7 575H0V0H2494.7V575Z" fill="url(#paint0_linear_203_11623)" />
			</g>
		</mask>
		<g mask="url(#mask0_203_11623)">
			<g filter="url(#filter0_i_203_11623)">
				<path d="M2747.35 -284.999L1247.36 -1785L-252.64 -284.999L1247.36 1215L2747.35 -284.999Z" fill="#D9D9D9" fill-opacity="0.01" />
			</g>
			<path d="M1247.36 -1784.29L2746.64 -284.999L1247.36 1214.29L-251.933 -284.999L1247.36 -1784.29Z" stroke="url(#paint1_linear_203_11623)" stroke-opacity="0.5" />
			<g filter="url(#filter1_i_203_11623)">
				<path d="M2574.46 -284.999L1247.34 -1612.12L-79.7759 -284.999L1247.34 1042.12L2574.46 -284.999Z" fill="#D9D9D9" fill-opacity="0.01" />
			</g>
			<path d="M1247.34 -1611.41L2573.75 -284.999L1247.34 1041.41L-79.0688 -284.999L1247.34 -1611.41Z" stroke="url(#paint2_linear_203_11623)" stroke-opacity="0.5" />
			<g filter="url(#filter2_i_203_11623)">
				<path d="M2395.97 -285.01L1247.35 -1433.63L98.7314 -285.01L1247.35 863.611L2395.97 -285.01Z" fill="#D9D9D9" fill-opacity="0.01" />
			</g>
			<path d="M1247.35 -1432.92L2395.26 -285.01L1247.35 862.904L99.4385 -285.01L1247.35 -1432.92Z" stroke="url(#paint3_linear_203_11623)" stroke-opacity="0.5" />
			<g filter="url(#filter3_i_203_11623)">
				<path d="M2211.87 -285.017L1247.35 -1249.54L282.829 -285.017L1247.35 679.504L2211.87 -285.017Z" fill="#D9D9D9" fill-opacity="0.01" />
			</g>
			<path d="M2211.87 -285.017L1247.35 -1249.54L282.829 -285.017L1247.35 679.504L2211.87 -285.017Z" stroke="url(#paint4_linear_203_11623)" stroke-opacity="0.5" />
		</g>
	</g>
	<defs>
		<filter id="filter0_i_203_11623" x="-252.641" y="-1785" width="2999.99" height="3000" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_203_11623" />
		</filter>
		<filter id="filter1_i_203_11623" x="-79.7764" y="-1612.12" width="2654.23" height="2654.24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_203_11623" />
		</filter>
		<filter id="filter2_i_203_11623" x="98.7314" y="-1433.63" width="2297.24" height="2297.24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_203_11623" />
		</filter>
		<filter id="filter3_i_203_11623" x="282.121" y="-1250.25" width="1930.45" height="1930.46" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
			<feOffset />
			<feGaussianBlur stdDeviation="62.3347" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
			<feBlend mode="normal" in2="shape" result="effect1_innerShadow_203_11623" />
		</filter>
		<linearGradient id="paint0_linear_203_11623" x1="1247.92" y1="477.047" x2="1247.92" y2="34.268" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.617359" stop-color="white" />
			<stop offset="0.75" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint1_linear_203_11623" x1="1247.39" y1="-1303.21" x2="1247.38" y2="1213.81" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint2_linear_203_11623" x1="1247.37" y1="-1185.85" x2="1247.36" y2="1041.06" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint3_linear_203_11623" x1="1247.37" y1="-1064.7" x2="1247.37" y2="862.707" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<linearGradient id="paint4_linear_203_11623" x1="1247.37" y1="-939.743" x2="1247.37" y2="678.737" gradientUnits="userSpaceOnUse">
			<stop stop-color="white" stop-opacity="0" />
			<stop offset="0.291667" stop-color="white" />
			<stop offset="0.729167" stop-color="white" />
			<stop offset="1" stop-color="white" stop-opacity="0" />
		</linearGradient>
		<clipPath id="clip0_203_11623">
			<rect width="2494.7" height="575" fill="white" />
		</clipPath>
	</defs>
</svg>
