<div class="{{ class }} relative">
	<div class="relative w-full -translate-x-1/2">
		<div class="ani_overlap absolute flex w-full -skew-x-[-45deg] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_10%,transparent_100%)]">
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
		</div>
	</div>
	<div class="relative w-full translate-x-1/2 scale-x-[-1]">
		<div class="ani_overlap absolute flex w-full -skew-x-[-45deg] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_10%,transparent_100%)]">
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
			<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
		</div>
	</div>
</div>
