<div class="{{ class }} relative">
	<div class="sca absolute flex w-full -translate-y-64 translate-x-32 -space-x-[475px] [xmask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_10%,transparent_100%)]">
		<div class="h-[250px] w-[600px] skew-y-[-45deg] border-[1px] border-white bg-gradient-to-tl from-white/30 to-transparent dark:border-zinc-500/20 dark:from-white/10"></div>
		<div class="h-[250px] w-[600px] skew-y-[-45deg] border-[1px] border-white bg-gradient-to-tl from-white/30 to-transparent dark:border-zinc-500/20 dark:from-white/10"></div>
		<div class="h-[250px] w-[600px] skew-y-[-45deg] border-[1px] border-white bg-gradient-to-tl from-white/30 to-transparent dark:border-zinc-500/20 dark:from-white/10"></div>
		<div class="h-[250px] w-[600px] skew-y-[-45deg] border-[1px] border-white bg-gradient-to-tl from-white/30 to-transparent dark:border-zinc-500/20 dark:from-white/10"></div>
	</div>
</div>
