<div class="relative select-none">
	<div class="no-scrollbar flex snap-x snap-mandatory gap-3 overflow-x-scroll max-sm:[mask-image:linear-gradient(90deg,_transparent_0%,_rgba(0,_0,_0,_1)_0%,_rgba(0,_0,_0,_1)_90%,_transparent_95%)] lg:left-0 lg:grid lg:grid-cols-6 lg:items-start lg:justify-end">
		{{# Containers #}}
		<div class="relative col-span-6 flex w-[80%] flex-shrink-0 snap-start justify-between overflow-hidden rounded-xl p-6 backdrop-blur-xl lg:w-full lg:items-center xl:col-span-4 xl:col-start-3">
			<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-500/10 via-zinc-500/0 to-zinc-500/0 dark:from-white/10 dark:via-white/0 dark:to-white/0"></div>
			<div class="absolute inset-px rounded-xl border border-zinc-500/10 [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_150%)] dark:border-white/10"></div>
			<div class="relative flex w-full flex-col gap-2">
				<div class="text-xs font-bold text-zinc-900 dark:text-zinc-100">Container Image</div>
				<div class="relative flex flex-wrap gap-2 lg:justify-between">
					<img title="php icon" title="php" class="size-7 dark:invert" src="https://console.webslice.com/assets/logos/php.svg" />
					<img title="wordpress icon" title="wordpress" class="size-7" src="https://console.webslice.com/assets/logos/wordpress.svg" />
					<img title="apache icon" title="apache" class="size-7" src="https://console.webslice.com/assets/logos/apache.svg" />
					<img title="python icon" title="python" class="size-7" src="https://console.webslice.com/assets/logos/python.svg" />
					<img title="ruby icon" title="ruby" class="size-7" src="https://console.webslice.com/assets/logos/ruby.svg" />
					<img title="nodejs icon" title="nodejs" class="size-7" src="https://console.webslice.com/assets/logos/nodejs.svg" />
					<img title="mariadb icon" title="mariadb" class="size-7" src="https://console.webslice.com/assets/logos/mariadb-dark.svg" />
					<img title="redis icon" title="redis" class="size-7" src="https://console.webslice.com/assets/logos/redis.svg" />
					<img title="postgres icon" title="postgres" class="size-7" src="https://console.webslice.com/assets/logos/postgres.svg" />
				</div>
			</div>
		</div>
		{{# example.com #}}
		<div class="relative col-span-6 flex w-[80%] flex-shrink-0 snap-start justify-between overflow-hidden rounded-xl p-px px-4 py-6 backdrop-blur-xl lg:w-full lg:items-center xl:col-span-5 xl:col-start-2">
			<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-500/10 via-zinc-500/0 to-zinc-500/0 dark:from-white/10 dark:via-white/0 dark:to-white/0"></div>
			<div class="absolute inset-px rounded-xl border border-zinc-500/10 [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_150%)] dark:border-white/10"></div>
			<div class="relative flex w-full flex-col gap-2">
				<div class="flex justify-between">
					<div class="flex items-center gap-3">
						<p class="text-base font-bold text-zinc-800 dark:text-zinc-100">example.com</p>
						<div class="flex items-center justify-center gap-1 rounded-sm bg-[#32ffdc] px-1 py-0.5">
							{{ svg src="{{config:iconamic:path}}/sparkles.svg" class='size-3 text-zinc-900 flex-none' }}
							<p class="text-xs font-bold text-zinc-900">Online</p>
						</div>
						{{ svg src="{{config:iconamic:path}}/settings.svg" class='size-4 flex-none' }}
					</div>
				</div>
				<div class="relative flex w-full flex-wrap items-center gap-3">
					<p class="text-xs text-zinc-600 dark:text-zinc-400">Overview</p>
					<p class="text-xs text-zinc-600 dark:text-zinc-400">Databases</p>
					<p class="text-xs text-zinc-600 dark:text-zinc-400">Volumes</p>
					<p class="text-xs text-zinc-600 dark:text-zinc-400">SSH & SFTP</p>
					<p class="text-xs text-zinc-600 dark:text-zinc-400">Backups</p>
					<p class="text-xs text-zinc-600 dark:text-zinc-400">Activity</p>
					<p class="text-xs text-zinc-600 dark:text-zinc-400">Settings</p>
				</div>
			</div>
		</div>

		{{# File Uploads? #}}
		<div class="relative col-span-3 flex w-[80%] flex-shrink-0 snap-start gap-2 overflow-hidden rounded-xl p-px px-4 py-6 backdrop-blur-xl lg:w-full">
			<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-500/10 via-zinc-500/0 to-zinc-500/0 dark:from-white/10 dark:via-white/0 dark:to-white/0"></div>
			<div class="absolute inset-px rounded-xl border border-zinc-500/10 [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_150%)] dark:border-white/10"></div>
			{{ svg src="{{config:iconamic:path}}/file-up.svg" class='size-4 text-zinc-800 dark:text-zinc-100 flex-none' }}
			<div class="relative flex flex-col gap-1 self-stretch">
				<p class="text-xs font-bold text-zinc-700 dark:text-zinc-100">Image Update</p>
				<p class="text-xs text-zinc-600 dark:text-zinc-400">Choose from over 50 images, and change what your container is running in seconds. Easily test new environments, frameworks or language versions.</p>
			</div>
		</div>

		{{# Git Deployments? #}}
		<div class="relative col-span-3 flex w-[80%] flex-shrink-0 snap-start gap-2 overflow-hidden rounded-xl p-px px-4 py-6 backdrop-blur-xl lg:w-full">
			<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-500/10 via-zinc-500/0 to-zinc-500/0 dark:from-white/10 dark:via-white/0 dark:to-white/0"></div>
			<div class="absolute inset-px rounded-xl border border-zinc-500/10 [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_150%)] dark:border-white/10"></div>
			{{ svg src="{{config:iconamic:path}}/git-merge.svg" class='size-4 text-zinc-800 dark:text-zinc-100 flex-none' }}
			<div class="relative flex flex-col gap-1 self-stretch">
				<p class="text-xs font-bold text-zinc-700 dark:text-zinc-100">Simple Deployment</p>
				<p class="text-xs text-zinc-600 dark:text-zinc-400">Access containers via SSH/SFTP and upload your files directly, or add git credentials and pull directly from your remote repositories.</p>
			</div>
		</div>
		{{# store.example.com #}}
		<div class="relative col-span-2 flex w-[80%] flex-shrink-0 snap-start flex-col overflow-hidden rounded-xl backdrop-blur-xl lg:w-full">
			<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-500/10 via-zinc-500/0 to-zinc-500/0 dark:from-white/10 dark:via-white/0 dark:to-white/0"></div>
			<div class="absolute inset-px rounded-xl border border-zinc-500/10 [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_150%)] dark:border-white/10"></div>
			<div class="m-0.5 flex w-full items-center gap-2 rounded-t-xl bg-white/[0.1] px-4 py-3 dark:bg-zinc-100/5">
				<svg class="size-4 flex-none text-zinc-800 dark:text-zinc-100" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<rect x="2" y="4" width="20" height="16" rx="2"></rect>
					<path d="M10 4v4"></path>
					<path d="M2 8h20"></path>
					<path d="M6 4v4"></path>
				</svg>
				<p class="text-xs font-bold text-zinc-700 dark:text-zinc-100">store.example.com</p>
			</div>
			<div class="flex flex-col gap-1 px-4 py-2">
				<div class="relative flex items-center justify-start gap-2">
					{{ svg src="{{config:iconamic:path}}/box.svg" class='size-3 text-zinc-800 dark:text-zinc-100 flex-none' }}
					<p class="text-xs text-zinc-600 dark:text-zinc-400">Apache + PHP 8.1</p>
				</div>
				<div class="relative flex items-center justify-start gap-2">
					{{ svg src="{{config:iconamic:path}}/server.svg" class='size-3 text-zinc-800 dark:text-zinc-100 flex-none' }}
					<p class="text-xs text-zinc-600 dark:text-zinc-400">My Server One</p>
				</div>
				<div class="relative flex items-center justify-start gap-2">
					{{ svg src="{{config:iconamic:path}}/map-pin.svg" class='size-3 text-zinc-800 dark:text-zinc-100 flex-none' }}
					<p class="text-xs text-zinc-600 dark:text-zinc-400">Frankfurt, Germany</p>
				</div>
			</div>
		</div>
		{{# Speccs #}}
		<div class="relative col-span-2 flex w-[80%] flex-shrink-0 snap-start flex-col overflow-hidden rounded-xl backdrop-blur-xl lg:w-full">
			<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-500/10 via-zinc-500/0 to-zinc-500/0 dark:from-white/10 dark:via-white/0 dark:to-white/0"></div>
			<div class="absolute inset-px rounded-xl border border-zinc-500/10 [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_150%)] dark:border-white/10"></div>
			<div class="m-0.5 flex w-full items-center gap-2 rounded-t-xl bg-white/[0.1] px-4 py-3 dark:bg-zinc-100/5">
				{{ svg src="{{config:iconamic:path}}/cpu.svg" class='size-3 text-zinc-800 dark:text-zinc-100 flex-none' }}
				<p class="text-xs font-bold text-zinc-700 dark:text-zinc-100">Specs</p>
			</div>
			<div class="flex flex-col gap-1 px-4 py-2 xl:flex-row xl:gap-4">
				<div class="flex flex-col gap-1">
					<div class="relative flex items-center justify-start gap-2">
						{{ svg src="{{config:iconamic:path}}/computer.svg" class='size-3 text-zinc-800 dark:text-zinc-400 flex-none' }}
						<p class="text-xs text-zinc-600 dark:text-zinc-400">2 Cores</p>
					</div>
					<div class="relative flex items-center justify-start gap-2">
						{{ svg src="{{config:iconamic:path}}/memory-stick.svg" class='size-3 text-zinc-800 dark:text-zinc-400 flex-none' }}
						<p class="text-xs text-zinc-600 dark:text-zinc-400">4GB Memory</p>
					</div>
					<div class="relative flex items-center justify-start gap-2">
						{{ svg src="{{config:iconamic:path}}/hard-drive.svg" class='size-3 text-zinc-800 dark:text-zinc-400 flex-none' }}
						<p class="text-xs text-zinc-600 dark:text-zinc-400">80GB Storage</p>
					</div>
				</div>
				<div class="flex flex-col gap-1">
					<div class="relative flex items-center justify-start gap-2">
						{{ svg src="{{config:iconamic:path}}/shield-check.svg" class='size-3 text-zinc-800 dark:text-zinc-400 flex-none' }}
						<p class="text-xs text-zinc-600 dark:text-zinc-400">TLS 1.3</p>
					</div>
					<div class="relative flex items-center justify-start gap-2">
						{{ svg src="{{config:iconamic:path}}/lock.svg" class='size-3 text-zinc-800 dark:text-zinc-400 flex-none' }}
						<p class="text-xs text-zinc-600 dark:text-zinc-400">SSL On</p>
					</div>
					<div class="relative flex items-center justify-start gap-2">
						{{ svg src="{{config:iconamic:path}}/gauge.svg" class='size-3 text-zinc-800 dark:text-zinc-400 flex-none' }}
						<p class="text-xs text-zinc-600 dark:text-zinc-400">Caching On</p>
					</div>
				</div>
			</div>
		</div>
		{{# Summary #}}
		<div class="relative col-span-2 flex w-[80%] flex-shrink-0 snap-start flex-col overflow-hidden rounded-xl backdrop-blur-xl lg:w-full">
			<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-500/10 via-zinc-500/0 to-zinc-500/0 dark:from-white/10 dark:via-white/0 dark:to-white/0"></div>
			<div class="absolute inset-px rounded-xl border border-zinc-500/10 [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_150%)] dark:border-white/10"></div>
			<div class="m-0.5 flex w-full items-center gap-2 rounded-t-xl bg-white/[0.1] px-4 py-3 dark:bg-zinc-100/5">
				{{ svg src="{{config:iconamic:path}}/box.svg" class='size-3 text-zinc-800 dark:text-zinc-100 flex-none' }}
				<p class="text-xs font-bold text-zinc-700 dark:text-zinc-100">Summary</p>
			</div>
			<div class="grid grid-cols-1 gap-2 divide-zinc-300/50 px-4 py-2 text-zinc-100 dark:divide-zinc-700/50 max-xl:divide-y xl:grid-cols-2 xl:divide-x">
				<div class="flex flex-col gap-1 px-4 py-2 text-zinc-600 dark:text-zinc-400">
					<p class="text-xs font-bold">12</p>
					<p class="text-xs">Websites</p>
				</div>
				<div class="flex flex-col gap-1 px-4 py-2 text-zinc-600 dark:text-zinc-400">
					<p class="text-xs font-bold">9</p>
					<p class="text-xs">Database</p>
				</div>
			</div>
		</div>
	</div>
</div>
