<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1222 705" class="aspect-auto absolute mx-auto w-[1000px] origin-center transform" fill="none">
	<path stroke="url(#a)" d="M.141 245.5H1221.86"></path>
	<g class="Group 32110">
		<path stroke="url(#a)" d="M.141 245.5H1221.86" class="Line 37"></path>
		<g class="Frame 1000003915">
			<g class="Group 32099 radargroup" clip-path="url(#b)">
				<mask id="d" width="448" height="448" x="387" y="31" class="d" maskUnits="userSpaceOnUse" style="mask-type: alpha">
					<circle cx="611" cy="255.035" r="223.177" fill="url(#c)" class="Mask"></circle>
				</mask>

				<g mask="url(#d)">
					<g class="32104 group">
						<g class="light1 origin-center" filter="url(#e)">
							<path fill="url(#f)" fill-rule="evenodd" d="M597.044-4.385a30.586 30.586 0 0 1 30.586 0l199.278 115.053a30.585 30.585 0 0 1 15.293 26.488v230.107a30.583 30.583 0 0 1-15.293 26.488L627.63 508.805a30.59 30.59 0 0 1-30.586 0L397.766 393.751a30.585 30.585 0 0 1-15.293-26.488V137.156a30.585 30.585 0 0 1 15.293-26.488L597.044-4.385Z" clip-rule="evenodd"></path>
						</g>
						<path fill="currentColor" stroke="currentColor" stroke-width="1" d="M597.458 70.803a29.756 29.756 0 0 1 29.756 0l134.784 77.818a29.754 29.754 0 0 1 14.878 25.769v155.636a29.755 29.755 0 0 1-14.878 25.769l-134.784 77.818a29.758 29.758 0 0 1-29.756 0l-134.784-77.818a29.755 29.755 0 0 1-14.878-25.769V174.39a29.754 29.754 0 0 1 14.878-25.769l134.784-77.818Z" class="Vector fill-zinc-300 stroke-zinc-800 dark:fill-zinc-800 dark:stroke-zinc-300"></path>
					</g>
					<g class="32103 group">
						<g class="light2 origin-center" filter="url(#g)">
							<path fill="url(#h)" fill-rule="evenodd" d="M599.593 38.38a25.488 25.488 0 0 1 25.488 0l166.065 95.879a25.488 25.488 0 0 1 12.744 22.073v191.756c0 9.106-4.858 17.52-12.744 22.073l-166.065 95.878a25.488 25.488 0 0 1-25.488 0l-166.066-95.878a25.488 25.488 0 0 1-12.744-22.073V156.332c0-9.106 4.858-17.52 12.744-22.073l166.066-95.878Z" clip-rule="evenodd"></path>
						</g>
						<path fill="currentColor" stroke="currentColor" stroke-width="1" d="M599.938 101.037a24.8 24.8 0 0 1 24.797 0l112.32 64.849a24.795 24.795 0 0 1 12.398 21.474v129.696a24.798 24.798 0 0 1-12.398 21.475l-112.32 64.848a24.8 24.8 0 0 1-24.797 0l-112.32-64.848a24.799 24.799 0 0 1-12.399-21.475V187.36a24.796 24.796 0 0 1 12.399-21.474l112.32-64.849Z" class="Vector fill-zinc-300 stroke-zinc-800 dark:fill-zinc-800 dark:stroke-zinc-300"></path>
					</g>
					<g class="32102 group">
						<g class="light3 origin-center" filter="url(#i)">
							<path fill="url(#j)" fill-rule="evenodd" d="M601.717 74.017a21.24 21.24 0 0 1 21.24 0l138.388 79.898a21.239 21.239 0 0 1 10.62 18.394v159.797c0 7.588-4.048 14.6-10.62 18.394l-138.388 79.899a21.24 21.24 0 0 1-21.24 0L463.329 350.5a21.241 21.241 0 0 1-10.62-18.394V172.309c0-7.588 4.049-14.6 10.62-18.394l138.388-79.898Z" clip-rule="evenodd"></path>
						</g>
						<path fill="currentColor" stroke="currentColor" stroke-width="1" d="M602.005 126.232a20.665 20.665 0 0 1 20.664 0l93.6 54.04a20.664 20.664 0 0 1 10.332 17.895v108.081a20.664 20.664 0 0 1-10.332 17.895l-93.6 54.04a20.665 20.665 0 0 1-20.664 0l-93.6-54.04a20.662 20.662 0 0 1-10.332-17.895V198.167a20.662 20.662 0 0 1 10.332-17.895l93.6-54.04Z" class="Vector fill-zinc-300 stroke-zinc-800 dark:fill-zinc-800 dark:stroke-zinc-300"></path>
					</g>
				</g>
			</g>
		</g>
		<g class="Group 32080">
			<g filter="url(#k)">
				<path fill="url(#l)" fill-rule="evenodd" d="M600.38 165.405a21.24 21.24 0 0 1 21.24 0l55.311 31.934a21.241 21.241 0 0 1 10.62 18.394V279.6c0 7.589-4.049 14.6-10.62 18.395l-55.311 31.933a21.24 21.24 0 0 1-21.24 0l-55.311-31.933a21.243 21.243 0 0 1-10.62-18.395v-63.867c0-7.588 4.049-14.6 10.62-18.394l55.311-31.934Z" clip-rule="evenodd"></path>
			</g>
			<g class="Vector text-zinc-900 dark:text-zinc-800" filter="url(#m)">
				<path fill="currentColor" fill-rule="evenodd" d="M604.98 162.749a12.039 12.039 0 0 1 12.04 0l64.51 37.245a12.04 12.04 0 0 1 6.021 10.428v74.489a12.04 12.04 0 0 1-6.021 10.428l-64.51 37.245a12.039 12.039 0 0 1-12.04 0l-64.51-37.245a12.04 12.04 0 0 1-6.021-10.428v-74.489a12.04 12.04 0 0 1 6.021-10.428l64.51-37.245Z" clip-rule="evenodd"></path>
			</g>
			<g class="Mask group">
				<mask id="o" width="154" height="174" x="534" y="161" class="o text-purple-500" maskUnits="userSpaceOnUse" style="mask-type: alpha">
					<path fill="currentColor" stroke="url(#n)" stroke-width="1.898" d="M605.454 163.571a11.094 11.094 0 0 1 11.092 0l64.51 37.245a11.091 11.091 0 0 1 5.546 9.606v74.489c0 3.963-2.114 7.625-5.546 9.606l-64.51 37.245a11.09 11.09 0 0 1-11.092 0l-64.51-37.245a11.091 11.091 0 0 1-5.546-9.606v-74.489c0-3.963 2.114-7.625 5.546-9.606l64.51-37.245Z" class="Vector text-purple-500"></path>
				</mask>
				<g mask="url(#o)">
					<circle cx="567.984" cy="177.723" r="148.013" fill="url(#p)" fill-opacity=".1" class="Ellipse 1115"></circle>
				</g>
			</g>

			<g class="Group 32105">
				<path fill="#871EFF" d="M599.258 249.551v39.655l73.569-71.559h-40.905l-32.664 31.904Z" class="Vector text-purple-500"></path>
				<path fill="#B16DFF" d="M570.587 217.647v59.928l28.695-28.024v-31.904h-28.695Z" class="Vector text-purple-500"></path>
			</g>
		</g>
	</g>
	<defs>
		<linearGradient id="f" x1="612.337" x2="612.337" y1="-39.205" y2="185.722" class="text-green-800 dark:text-green-500" gradientUnits="userSpaceOnUse">
			<stop stop-color="currentColor"></stop>
			<stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
		</linearGradient>

		<linearGradient id="h" x1="612.337" x2="612.337" y1="9.364" y2="196.803" class="h text-purple-800 dark:text-purple-500/50" gradientUnits="userSpaceOnUse">
			<stop stop-color="currentColor"></stop>
		</linearGradient>

		<linearGradient id="j" x1="612.337" x2="612.337" y1="49.836" y2="206.035" class="j text-green-900 dark:text-green-500/50" gradientUnits="userSpaceOnUse">
			<stop stop-color="currentColor"></stop>
			<stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
		</linearGradient>

		<linearGradient id="n" x1="654.867" x2="650.761" y1="178.669" y2="340.965" class="n text-purple-800 dark:text-purple-400" gradientUnits="userSpaceOnUse">
			<stop stop-color="currentColor" stop-opacity="0"></stop>
			<stop offset=".138" stop-color="currentColor" stop-opacity=".862"></stop>
			<stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
		</linearGradient>

		<linearGradient id="l" x1="611" x2="611" y1="150.618" y2="225.524" class="l text-zinc-800 dark:text-zinc-500" gradientUnits="userSpaceOnUse">
			<stop stop-color="currentColor"></stop>
			<stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
		</linearGradient>
		<filter id="e" width="709.739" height="771.396" x="257.467" y="-133.488" class="e" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
			<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
			<feGaussianBlur result="effect1_foregroundBlur_91_14640" stdDeviation="50"></feGaussianBlur>
		</filter>
		<filter id="g" width="591.449" height="642.831" x="316.612" y="-69.205" class="g" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
			<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
			<feGaussianBlur result="effect1_foregroundBlur_91_14640" stdDeviation="50"></feGaussianBlur>
		</filter>
		<filter id="i" width="492.875" height="535.692" x="365.9" y="-15.639" class="i" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
			<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
			<feGaussianBlur result="effect1_foregroundBlur_91_14640" stdDeviation="50"></feGaussianBlur>
		</filter>
		<filter id="k" width="326.72" height="343.833" x="447.64" y="75.75" class="k" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
			<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
			<feGaussianBlur result="effect1_foregroundBlur_91_14640" stdDeviation="50"></feGaussianBlur>
		</filter>

		<filter id="m" width="476.7" height="562.884" x="511.873" y="141.569" class="m" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
			<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
			<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
			<feOffset dx="7.526" dy="10.536"></feOffset>
			<feGaussianBlur stdDeviation="15.051"></feGaussianBlur>
			<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.39 0"></feColorMatrix>
			<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_91_14640"></feBlend>
			<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
			<feOffset dx="33.112" dy="43.648"></feOffset>
			<feGaussianBlur stdDeviation="27.092"></feGaussianBlur>
			<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.34 0"></feColorMatrix>
			<feBlend in2="effect1_dropShadow_91_14640" result="effect2_dropShadow_91_14640"></feBlend>
			<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
			<feOffset dx="73.75" dy="99.337"></feOffset>
			<feGaussianBlur stdDeviation="36.875"></feGaussianBlur>
			<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
			<feBlend in2="effect2_dropShadow_91_14640" result="effect3_dropShadow_91_14640"></feBlend>
			<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
			<feOffset dx="130.944" dy="174.592"></feOffset>
			<feGaussianBlur stdDeviation="43.648"></feGaussianBlur>
			<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"></feColorMatrix>
			<feBlend in2="effect3_dropShadow_91_14640" result="effect4_dropShadow_91_14640"></feBlend>
			<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
			<feOffset dx="204.695" dy="273.93"></feOffset>
			<feGaussianBlur stdDeviation="48.163"></feGaussianBlur>
			<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.01 0"></feColorMatrix>
			<feBlend in2="effect4_dropShadow_91_14640" result="effect5_dropShadow_91_14640"></feBlend>
			<feBlend in="SourceGraphic" in2="effect5_dropShadow_91_14640" result="shape"></feBlend>
		</filter>
		<radialGradient id="a" cx="0" cy="0" r="1" class="a text-zinc-500 dark:text-zinc-300" gradientTransform="matrix(591.37401 1.08061 -1320.20526 722492.7938 661.553 246.003)" gradientUnits="userSpaceOnUse">
			<stop stop-color="currentColor" stop-opacity=".5"></stop>
			<stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
		</radialGradient>
		<radialGradient id="c" cx="0" cy="0" r="1" class="c text-purple-500" gradientTransform="matrix(0 223.177 -223.177 0 611 255.035)" gradientUnits="userSpaceOnUse">
			<stop stop-color="currentColor"></stop>
			<stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
		</radialGradient>
		<radialGradient id="p" cx="0" cy="0" r="1" class="p text-zinc-600" gradientTransform="rotate(90 195.13 372.854) scale(148.013)" gradientUnits="userSpaceOnUse">
			<stop stop-color="currentColor"></stop>
			<stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
		</radialGradient>
		<clipPath id="b" class="b text-zinc-600">
			<path fill="currentColor" d="M355 23.502C355 10.522 365.522 0 378.502 0h464.996C856.478 0 867 10.522 867 23.502V245H355V23.502Z"></path>
		</clipPath>
	</defs>
</svg>
