.cover.blog-index {
	--cover-height: 100vh;
}
.cover.blog {
	--cover-height: 75vh;
}

/* Gradient used on blog and blog index template */
.cover {
	@apply box-border;
	--cover-height: 95vh;
	height: calc(100vh - var(--cover-height));
	img {
		@apply object-cover w-full mx-auto;
		height: calc(100vh - var(--cover-height));
		box-sizing: border-box;
	}
}

.cover:before {
	background: linear-gradient(180deg, rgba(203, 197, 223, 1) 0px, rgba(203, 197, 223, 1) 34px, rgba(208, 205, 226, 1) 34px, rgba(208, 205, 226, 1) 68px, rgba(213, 210, 230, 1) 68px, rgba(213, 210, 230, 1) 102px, rgba(219, 216, 234, 1) 102px, rgba(219, 216, 234, 1) 136px, rgba(224, 221, 237, 1) 136px, rgba(224, 221, 237, 1) 170px, rgba(230, 228, 241, 1) 170px, rgba(230, 228, 241, 1) 204px, rgba(235, 233, 246, 1) 204px, rgba(235, 233, 246, 1) 238px, rgba(240, 238, 248, 1) 238px, rgba(240, 238, 248, 1) 272px, rgba(246, 245, 253, 1) 272px, rgba(246, 245, 253, 1) 306px, rgba(246, 245, 253, 0) 350px);
}
.cover:after {
	z-index: -1;
}

/* Gradient used on homepage template */
.lines {
	position: relative;
	padding: var(--skew-padding) 0;
}
.wrapper {
	z-index: -1;
	position: absolute;
}
.lines:after,
.lines:before,
.cover:after,
.cover:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transform: skewy(var(--angle));
}
.lines:before,
.cover:before {
	z-index: -1;
	transform-origin: -3% 0%;
}
.lines:before {
	background: linear-gradient(180deg, rgba(203, 197, 223, 1) 0px, rgba(203, 197, 223, 1) 34px, rgba(208, 205, 226, 1) 34px, rgba(208, 205, 226, 1) 68px, rgba(213, 210, 230, 1) 68px, rgba(213, 210, 230, 1) 102px, rgba(219, 216, 234, 1) 102px, rgba(219, 216, 234, 1) 136px, rgba(224, 221, 237, 1) 136px, rgba(224, 221, 237, 1) 170px, rgba(230, 228, 241, 1) 170px, rgba(230, 228, 241, 1) 204px, rgba(235, 233, 246, 1) 204px, rgba(235, 233, 246, 1) 238px, rgba(240, 238, 248, 1) 238px, rgba(240, 238, 248, 1) 272px, rgba(246, 245, 253, 1) 272px, rgba(246, 245, 253, 0.5) 306px, rgba(246, 245, 253, 0) 850px);
}
.purple {
	@apply m-0 bg-purple-900;
}
.purple-stripes {
	z-index: -1;
}

/* @screen sm {
	.purple {
		@apply p-6;
	}
} */

.gradient-purple-to-teal-light {
	@apply gradient-animation;
	background: linear-gradient(to right, rgba(135, 30, 255, 0.1), rgba(50, 255, 220, 0.1));
	/* background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%); */
	z-index: -1;
}

.light-purple {
	@apply gradient-purple-to-teal-light gradient-animation;
	content: "";
	transform: skewy(var(--angle));
	z-index: -1;
}
.skew-clip-path-left {
	clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
	@screen md {
		clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
	}
}
.skew-clip-path-right {
	clip-path: polygon(0 0, 90% 0%, 100% 90%, 10% 90%);
	@screen md {
		clip-path: polygon(0 0, 90% 0%, 100% 90%, 10% 90%);
	}
}
.skew-clip-path-cover {
	clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
	@screen md {
		clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
	}
}

.some-height {
	height: auto;
	@screen md {
		min-height: 650px;
	}
}
