.docs {
	h2 > .anchor,
	h3 > .anchor,
	h4 > .anchor {
		@apply absolute top-0 block text-purple-500 no-underline opacity-0 dark:text-cyan-500;
		transition: all 0.2s ease-in-out;
		&:hover {
			@apply text-purple-500;
			text-shadow: none;
		}
	}

	h2 > .anchor {
		@apply -left-6 pr-4;
	}

	/* h2:not(:first-of-type) > .anchor {
        @apply top-14;
    } */

	h2:hover > .anchor {
		@apply -left-8 opacity-100;
	}

	h3 > .anchor {
		@apply -left-3 pr-2;
	}

	h3:hover > .anchor {
		@apply -left-5 opacity-100;
	}

	h4 > .anchor {
		@apply -left-2 pr-2;
	}

	h4:hover > .anchor {
		@apply -left-4 opacity-100;
	}
	:not(pre) > code {
		@apply dark:bg-green-500/20;
	}
}

/* Table of Contents */
/* -------------------------------------------------- */
.toc {
	@apply space-y-2 text-zinc-700 dark:text-zinc-400;
	list-style-type: none;
	counter-reset: item;

	li {
		@apply block text-xs;
		counter-increment: item;
		&:before {
			@apply mr-1;
		}
	}

	li a {
		@apply line-clamp-2 no-underline hover:text-purple-500 dark:hover:text-green-500;
	}

	li ol {
		@apply space-y-2 pb-4 pt-2 text-zinc-700 dark:text-zinc-400;
		counter-reset: item;

		li {
			@apply ml-3;
		}
		li:before {
			position: absolute;
			margin: 5px -12px;
			content: url("data: image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' class='mr-2 overflow-visible text-gray-400 group-hover:text-gray-600 dark:text-gray-600 dark:group-hover:text-gray-500' %3E%3Cpath d='M0 0L3 3L0 6' fill='none' stroke='%23871FFF' stroke-width='1.5' stroke-linecap='round' %3E%3C/path%3E%3C/svg%3E");
		}
	}
}
