@screen sm {
	.slice::before {
		@apply bg-white;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 100%);
		/* clip-path: polygon(0 0, 5760px 0, 5760px calc(100% - 352px), 0 100%); */
	}
}
/* 
footer a {
	@apply text-black;
}
footer h6 {
	
	@apply text-xs font-bold tracking-wider uppercase md:block;
}

footer a:hover {
	@apply text-purple-700;
}

footer {
	ul,
	ol {
		@apply p-0;
	}
}

footer li {
	@apply pb-1 my-1;
}

footer.lp {
	@apply -mt-24;
}
@screen sm {
	footer.lp {
		@apply -mt-64;
	}
} */
