/* nav {
  @apply flex flex-wrap items-center;
} */

nav a {
	@apply block px-0 py-3 font-extrabold text-center text-black;
}

/* nav {
  ul {
    @apply items-center justify-between p-0 mx-auto text-sm text-gray-700 uppercase;
  }
} */

@screen lg {
	nav {
		ul {
			@apply py-0 pl-0;
		}
	}
}

nav a:hover {
	color: var(--primary);
}

nav ul li::before,
footer ul li::before {
	content: none;
}

nav {
	ul,
	ol {
		@apply text-base;
	}
}

@screen lg {
	nav li {
		@apply px-4 py-0;
	}
}

#menu-toggle:checked + #menu {
	display: block;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
