{{# Feature template in a horizontal row, as more are added from the replicator they will alternate their order, they can all line up on either side. #}}
<section class="container isolate space-y-8 lg:space-y-32">
	{{ rows }}
		<div class="{{ if reverse_alignment }}
        {{ if toggle_alignment }}
            lg:space-x-reverse 
        {{ else }}
            {{ switch between='lg:space-x-reverse | empty' }}
        {{ /if }}
    {{else}}
        {{ if toggle_alignment }}
        {{ else }}
            {{ switch between=' | lg:space-x-reverse' }}
        {{ /if }}
    {{ /if }} mx-auto flex flex-col gap-6 sm:space-y-0 lg:flex-row lg:gap-24 xl:items-center">
			<div class="space-y-6 lg:w-1/2">
				<div class="space-y-6 xl:max-w-xl">
					<div class="space-y-3">
						{{ svg src="{{config:iconamic:path}}/{{iconamic}}.svg" class="" }}
						{{ partial:typography/h2 :content="title" }}
					</div>
					{{ partial:typography/p :content="description" }}
				</div>
				{{ partial:components/buttons }}
			</div>

			<div class="{{ if reverse_alignment }}
        {{ if toggle_alignment }}
            order-first 
        {{ else }}
            {{ switch between='order-first | order-first lg:order-last' }}
        {{ /if }}
    {{else}}
        {{ if toggle_alignment }}
            order-first lg:order-last
        {{ else }}
            {{ switch between='order-first lg:order-last | order-first' }}
        {{ /if }}
    {{ /if }} relative xl:mx-auto">
				<div class="grid gap-4 xl:grid-cols-2">
					{{ bentos }}
						<div class="{{ if first }} lg:col-span-2  {{ /if }} bento_box {{ if image }} px-4 lg:px-8 py-4 {{ else }} p-4 lg:p-8 {{ /if }} relative isolate flex flex-col-reverse justify-end gap-2 overflow-hidden lg:flex-row xl:items-center">
							{{ partial:illustration/div_grid }}
							<div class="{{ if image }}xl:w-1/2 {{ /if }} flex flex-col gap-2">
								{{ items }}
									{{ if url }}
										<a href="{{ url }}" {{ if target }} target="_blank" {{ /if }}>
											{{ if items | count == 1 }}
												{{ partial:components/goto class='max-w-xs' col='true' }}
											{{ else }}
												{{ partial:components/goto class='max-w-xs !items-start' col='false' }}
											{{ /if }}
										</a>
									{{ else }}
										{{ if items | count == 1 }}
											{{ partial:components/goto class='max-w-xs' col='true' }}
										{{ else }}
											{{ partial:components/goto class='max-w-xs !items-start' col='false' }}
										{{ /if }}
									{{ /if }}
								{{ /items }}
							</div>
							{{ if first }}
								<div class="xl:w-1/2">
									{{ partial:global/picture :image="image" lazy="true" }}
								</div>
							{{ /if }}
						</div>
					{{ /bentos }}
				</div>
			</div>
		</div>
	{{ /rows }}
</section>
