{{#
  @name Bento_features
  @desc The Bento boxes from page builder block.
  @set page.page_builder.
#}}

{{#
  Bento boxes highlight the 4 main items using the bento_box partial, and loop inside the box replicator,
  to give different properties to each box item in to the grid we pass the 'class' to the bento_box partial.
  And 'content_class' are added to the content of bento_box to align them to the base line.
  
  Also inside each bento_box we can included a picture partial which is passed as {{ slot }} to the bento_box partial and modified with "class"
  which is included inside the picture partial.
#}}

<!-- /page_builder/_bento_features.antlers.html -->
<section class="bento_features container">
	<div class="relative space-y-8 lg:space-y-16">
		<div class="absolute lg:right-0 lg:top-1/4">
			{{ partial:illustration/gradient_stripes class='absolute lg:-translate-y-1/2 xl:translate-x-1/2 xl:right-0' }}
		</div>
		<div class="-space-y-12">
			{{# Header section #}}
			<div class="relative flex space-x-10">
				<div class="relative isolate flex flex-col items-center">
					{{# Hexagon Icon #}}
					<svg class="z-10 drop-shadow-lg" width="56" height="64" viewBox="0 0 56 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" class="fill-purple-500/20" clip-rule="evenodd" d="M28.2562 0.810547L55.1398 16.3318V47.3743L28.2562 62.8956L1.37256 47.3743V16.3318L28.2562 0.810547Z" />
						<path fill-rule="evenodd" class="fill-purple-500/20" clip-rule="evenodd" d="M28.2564 6.79883L49.9542 19.3261V44.3806L28.2564 56.9078L6.55859 44.3806V19.3261L28.2564 6.79883Z" />
						<path fill-rule="evenodd" class="fill-purple-500/80" clip-rule="evenodd" d="M28.256 12.9453L44.6302 22.399V41.3062L28.256 50.7599L11.8818 41.3062V22.399L28.256 12.9453Z" />
					</svg>
					<div class="size-12 absolute inset-0 animate-pulse bg-green-500 blur-xl dark:bg-purple-500"></div>
					{{# Inner Icon #}}
					{{ svg src="{{config:iconamic:path}}/{{iconamic}}.svg" class=" translate-y-5 absolute z-20 w-5 text-purple-100 dark:text-purple-100 stroke-current" }}
					{{# Gradient Line #}}
					<span class="line-gradient gradient-background w-[1px] flex-1 -translate-y-1"></span>
				</div>
				<div class="flex flex-1 flex-col pb-24">
					<div class="max-w-xl space-y-4">
						{{ partial:typography/h2 :content="title | strip_tags:p" }}
						{{ partial:typography/p :content="description | strip_tags:p" }}
					</div>
				</div>
			</div>

			<div class="my-12 grid gap-4 md:grid-cols-2 lg:my-16 lg:grid-rows-2 xl:grid-cols-3">
				{{# Bento #1 #}}
				{{ boxes limit='1' }}
					{{ partial:components/bento_box class='lg:row-span-2 xl:col-span-1 md:col-span-2' }}
						{{ partial:global/picture :image="image" cover="true" class='xl:absolute lg:w-1/2 xl:w-full bottom-0 px-8 xl:group-hover/illus:translate-y-10 group-hover/illus:transition ease-in-out duration-200 xl:translate-y-12' lazy="true" quality='70' maxwidth="425" maxheight="260" }}
					{{ /partial:components/bento_box }}
				{{ /boxes }}
				{{# /Bento #2 #}}
				{{ boxes offset='1' limit='1' }}
					{{ partial:components/bento_box content_class='content-end order-first' class='md:col-span-2 ' }}
						{{ partial:global/picture :image="image" cover="true" class='translate-x-4 duration-200 ease-in-out group-hover/illus:transition overflow-hidden xl:group-hover/illus:-translate-y-6 ' lazy="true" quality='70' maxwidth="375" maxheight="239" }}
					{{ /partial:components/bento_box }}
				{{ /boxes }}
				{{# /Bento #3 #}}
				{{ boxes offset='2' limit='1' }}
					{{ partial:components/bento_box content_class='content-end order-first' class='md:col-span-1 lg:col-start-2 xl:row-start-2' }}
						{{ partial:global/picture :image="image" cover="true" class='duration-200 ease-in-out group-hover/illus:transition overflow-hidden xl:group-hover/illus:-translate-y-6 ' lazy="true" quality='70' maxwidth="420" maxheight="256" }}
					{{ /partial:components/bento_box }}
				{{ /boxes }}
				{{# /Bento #4 #}}
				{{ boxes offset='3' limit='1' }}
					{{ partial:components/bento_box content_class='content-end order-first' class='md:col-span-1 lg:col-start-3 xl:row-start-2' }}
						{{ partial:global/picture :image="image" cover="true" class='content-center duration-200 ease-in-out group-hover/illus:transition overflow-hidden xl:group-hover/illus:-translate-y-6 ' lazy="true" quality='70' maxwidth="420" maxheight="256" }}
					{{ /partial:components/bento_box }}
				{{ /boxes }}
			</div>
		</div>
		{{# Secondary links #}}
		<div class="mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 lg:max-w-[1342px] lg:grid-cols-3 xl:gap-6">
			{{ item }}
				{{ if text }}
					<{{ as or 'a' }} href="{{ link }}" title="{{ text }}" {{ if target }} rel="noopener" target="_blank" {{/if}} class="group/illus">
						<div class="group flex gap-1">
							{{# icon animation #}}
							<div class="relative h-6 w-6 flex-none text-purple-500 dark:text-green-500">
								<div class="absolute translate-y-0 text-2xl opacity-100 transition duration-300 group-hover:-translate-y-4 group-hover:opacity-0">
									{{ svg src="{{config:iconamic:path}}/goto.svg" class=" stroke-purple-700 transition-colors duration-300 group-hover:stroke-purple-900 dark:fill-white/10 dark:stroke-green-700 dark:group-hover:fill-purple-300/10 dark:group-hover:stroke-green-400" }}
								</div>
								<div class="absolute -translate-y-4 text-2xl opacity-0 transition duration-300 group-hover:translate-y-0 group-hover:opacity-100">
									{{ svg src="{{config:iconamic:path}}/document-text" class=" stroke-purple-700 transition-colors duration-300 group-hover:stroke-purple-900 dark:fill-white/10 dark:stroke-green-700 dark:group-hover:fill-purple-300/10 dark:group-hover:stroke-green-400" }}
								</div>
							</div>
							{{# icon animation #}}
							<p class="text-zinc-700 dark:text-zinc-200">{{ text | strip_tags:p }}</p>
						</div>
					</{{ as or 'a' }}>
				{{ /if }}
			{{ /item }}
		</div>
	</div>
</section>
<!-- End: /page_builder/_bento_features.antlers.html -->
