{{# Grid logo gallery #}}
<section class="container mx-auto space-y-12 md:space-y-24 ">

    <div class="flex flex-col items-center space-y-10 text-center">
        {{ partial:typography/h2 :content="companies_title" color='' }}
    </div>

    <div class="relative mx-auto ">
        <div class="absolute rounded-full opacity-25 -inset-y-1 -inset-x-8 blur-2xl bg-gradient-to-t from-purple-500/30 to-green-500"></div>
        <div class="relative space-y-6 ">
            {{# if 3 images are included #}}
            {{if company }} 
                <div class="flex flex-wrap justify-center gap-8 ">
                {{ company  }}
                    {{# limit the loop to 3 images #}}
                    {{ if default_image }}
                        <div class="max-w-[250px] px-6 py-4 overflow-hidden bg-white rounded-lg shadow-lg max-h-18 ">
                            <figure class="object-cover object-center w-full h-full transition duration-200 delay-100 group-hover:grayscale-0 filter sm:grayscale lg:w-full lg:h-full">
                                {{ partial:global/picture :image="default_image" cover="false" lazy="false" maxwidth="300" quality='70' }}
                            </figure>
                        </div>
                    {{ /if }}
                {{ /company }}
                </div>
            {{ /if }}
        </div>
    </div>

        
        

{{# <div class="relative space-y-6 ">
    {{if company | count >= 1 }} 
        <div class="flex flex-row justify-center gap-8 ">
        {{ company  limit="6" }}

            {{ if default_image }}
                <div class="max-w-[250px] px-6 py-4 overflow-hidden bg-white rounded-lg shadow-lg max-h-18 ">
                    <figure class="object-cover object-center w-full h-full transition duration-200 delay-100 group-hover:grayscale-0 filter sm:grayscale lg:w-full lg:h-full">
                        {{ partial:global/picture :image="default_image" cover="false" lazy="false" maxwidth="300" quality='70' }}
                    </figure>
                </div>
            {{ /if }}
        {{ /company }}
        </div>
    {{ /if }}
    {{if company | count >= 6 }}
        <div class="flex flex-row justify-center gap-8 ">
        {{ company  limit="12" offset="6" }}
            {{ if default_image }}
                <div class="max-w-[250px] px-6 py-4 overflow-hidden bg-white rounded-lg shadow-lg max-h-18 ">
                    <figure class="object-cover object-center w-full h-full transition duration-200 delay-200 group-hover:grayscale-0 filter sm:grayscale lg:w-full lg:h-full">
                        {{ partial:global/picture :image="default_image" cover="false" lazy="false" maxheight="69" maxwidth="184" quality='70' }}
                    </figure>
                </div>
            {{ /if }}
        {{ /company }}
        </div>
    {{ /if }}
    {{if company | count >= 12 }}
        <div class="flex flex-row justify-center gap-8 ">
        {{ company  limit="18" offset="12" }}
            {{ if default_image }}
                <div class="max-w-[250px] px-6 py-4 overflow-hidden bg-white rounded-lg shadow-lg max-h-18 ">
                    <figure class="object-cover object-center w-full h-full transition duration-200 delay-300 group-hover:grayscale-0 filter sm:grayscale lg:w-full lg:h-full">
                        {{ partial:global/picture :image="default_image" cover="false" lazy="false" maxheight="69" maxwidth="184" quality='70' }}
                    </figure>
                </div>
            {{ /if }}
        {{ /company }}
        </div>
    {{ /if }}
</div> #}}