<div class="flex flex-col px-4 pt-24 pb-4 mx-auto transition duration-700 translate-y-0 opacity-100 sm:px-6 lg:px-8 max-w-7xl sm:pb-8 md:pb-12 lg:pb-20">
    <div class="flex flex-col justify-center">
        <!---->
        <h2 class="max-w-lg pb-6 text-3xl font-semibold sm:max-w-xl md:max-w-3xl lg:max-w-4xl text-zinc-900 md:text-4xl lg:text-5xl">
            Deliver an optimized <span class="text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-teal-400">User Experience</span>
        </h2>
        <p class="text-lg xl:text-xl 2xl:text-2xl text-zinc-500 sm:max-w-xl md:max-w-3xl lg:max-w-4xl">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate ultricies augue in molestie. Aliquam rhoncus ultrices euismod. Morbi auctor scelerisque lacus, nec vehicula eros tempus at. Vestibulum scelerisque <strong>finibus leo ac aliquam.</strong>
        </p>
        <!---->
    </div>
    <!---->
	<div class="grid grid-cols-1 gap-8 pt-16 sm:grid-cols-2 lg:grid-cols-3">
		{{ Items }}
		<div class="rounded-md group">
			<div class="flex flex-col justify-between w-full h-full overflow-hidden bg-white shadow-none sm:rounded-xl ring-1 ring-zinc-200 dark:ring-zinc-800 hover:ring-2 dark:bg-zinc-900/50 hover:bg-white hover:dark:bg-zinc-900">
				<div class="flex items-center justify-center px-4 pt-5 border-b border-none bg-zinc-800 border-zinc-200 sm:px-6">
						{{ if default_image }}
								<figure>
									{{ partial:global/picture :image="default_image" :class='hidden h-full rounded-md dark:block' cover="true" maxheight="512" lazy="false" maxwidth="768" quality='70' }}
								</figure>
						{{ /if }}
				</div>
				<div class="px-4 pt-4 pb-5 sm:p-6">
					<!---->
					<div class="flex flex-col gap-y-4">
						<!---->
						<header class="text-xl font-semibold text-zinc-900 dark:text-zinc-100">{{ step_title }}</header>
						<p class="text-zinc-500 dark:text-zinc-200">{{ step_textarea | strip_tags:p }}</p>
						<!---->
					</div>
				</div>
				<!---->
			</div>
		</div>
		{{ /Items }}
		
	</div>
    <!---->
</div>
