<section class="space-y-8 lg:space-y-24 ">
{{ rows }}
    {{ if toggle_alignment }} {{ if reverse_alignment }} {{ if { switch between="odd|even" for="Image Right First"} == "odd" }}
        {{ partial:components/highlight_item }}
    {{ else }}
        {{ partial:components/highlight_item }}
    {{ endif }} {{ else }} {{ if { switch between="odd|even" for="Image Left First"} == "even" }}
        {{ partial:components/highlight_item }}
    {{ else }}
        {{ partial:components/highlight_item }}
    {{ endif }} {{ endif }} {{ else }} {{ if reverse_alignment }}
        {{ partial:components/highlight_item }}
    {{ else }}
        {{ partial:components/highlight_item }}
    {{ endif }} {{ endif }}
{{ /rows}}
</section>