{{# Template showing the last post from the collection of posts #}}

<section class="container mx-auto space-y-8 md:space-y-8 ">
	{{ partial:typography/h5 :content="pre-title" color='text-purple-500' }}
	{{ partial:typography/h2 :content="title_section" color='' }}
{{ collection:blog limit="1" paginate="false" as='posts' sort="date:desc" }}
	{{ posts }}
		<div class="mx-auto mt-6 sm:mt-18 group">
			{{# <div class="flex flex-col items-center justify-center py-4 space-x-0 space-y-24 md:space-y-0 sm:space-x-reverse sm:space-x-16 md:flex-row md:py-10"> #}}
			<div class="flex flex-col items-center justify-center py-8 space-x-0 space-y-8 space-y-reverse sm:space-y-0 md:space-x-reverse md:space-x-16 md:flex-row md:py-12">
				<div class="w-full pr-4 space-y-6 md:w-1/2">
					<a href="{{ url }}" class="flex flex-col items-center space-y-6 lg:flex-grow md:items-start">
						<h2 class="h2">{{ title }}</h2>
						<p> {{ subheader }}</p>
						<div class="inline-flex items-center px-0 py-2 space-x-2 text-base leading-none text-purple-500 no-underline rounded select-none focus:outline-none focus-visible:ring group focus-visible:ring-offset-2 whitespace-nowrap motion-safe:transition text-neutral decoration-purple-500 focus-visible:ring-purple-500">
							

							<span>Read more</span>

							<div class="transition duration-500 ease-in-out transform group-hover:translate-x-1">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mt-0.5 transition duration-500 ease-in-out transform translate-x-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
								</svg>
							</div>
						</div>

					</a>
				</div>
			{{ if default_image }}
				<div class="order-first md:w-1/2 ">
					<div class="relative hero-animation">
						<svg class="absolute w-32 text-green-500 transition duration-700 ease-in-out transform fill-current group-hover:text-green-600 group-hover:translate-x-3 md:w-72 md:-top-6 md:-left-6" viewBox="0 0 373 363" fill="none" xmlns="http://www.w3.org/2000/svg">

							<path d="M0 161.839V363L373 0H165.606L0 161.839Z"/>
						</svg>
						<svg class="absolute w-32 text-green-500 transition duration-700 ease-in-out transform fill-current group-hover:text-green-600 group-hover:-translate-y-3 group-hover:-translate-x-3 md:w-72 md:-bottom-6 md:-right-6" viewBox="0 0 373 363" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M373 201.161V-2.06527e-06L7.95594e-06 363H207.394L373 201.161Z"/>

						</svg>

						<div class="relative inset-0 flex items-center overflow-hidden transition duration-500 ease-in-out transform bg-purple-500 rounded-lg shadow-2xl justify-centers left md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                        <figure>
							{{ partial:global/picture :image="default_image" cover="true" maxheight="512" lazy="false" maxwidth="768" quality='70' }}
                        </figure>
						</div>
					</div>
				</div>
			{{ /if }}
			</div>
		</div>
	{{ /posts }}
{{ /collection:blog }}

</section>