<section class="container relative mx-auto pt-12 lg:pt-24">
	<div class="-space-y-6 lg:-space-y-12">
		<div class="bg-[size:31px_31px] absolute -inset-x-24 top-0 z-[-2] h-1/2 bg-zinc-400 bg-[radial-gradient(#ffffff33_1px,#fff_1px)] dark:bg-zinc-900 dark:bg-[radial-gradient(#ffffff33_1px,#18181B_1px)]"></div>
		<div class="relative flex space-x-10">
			<div class="relative isolate flex flex-col items-center">
				{{# Hexagon Icon #}}
				<svg class="z-10 drop-shadow-lg" width="56" height="64" viewBox="0 0 56 64" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" class="fill-purple-500/20" clip-rule="evenodd" d="M28.2562 0.810547L55.1398 16.3318V47.3743L28.2562 62.8956L1.37256 47.3743V16.3318L28.2562 0.810547Z" />
					<path fill-rule="evenodd" class="fill-purple-500/20" clip-rule="evenodd" d="M28.2564 6.79883L49.9542 19.3261V44.3806L28.2564 56.9078L6.55859 44.3806V19.3261L28.2564 6.79883Z" />
					<path fill-rule="evenodd" class="fill-purple-500/80" clip-rule="evenodd" d="M28.256 12.9453L44.6302 22.399V41.3062L28.256 50.7599L11.8818 41.3062V22.399L28.256 12.9453Z" />
				</svg>
				<div class="size-12 absolute inset-0 animate-pulse bg-green-500 blur-xl dark:bg-purple-500"></div>
				{{# Inner Icon #}}
				{{ svg src="{{config:iconamic:path}}/{{iconamic}}.svg" class=" translate-y-5 absolute z-20 w-5 text-purple-100 dark:text-purple-100 stroke-current" }}
				{{# Gradient Line #}}
				<span class="line-gradient gradient-background w-[1px] flex-1 -translate-y-1"></span>
			</div>
			<div class="flex flex-1 flex-col pb-24">
				<div class="max-w-xl space-y-4">
					{{ partial:typography/h2 :content="title | strip_tags:p" }}
					{{ partial:typography/p :content="description | strip_tags:p" }}
				</div>
			</div>
		</div>
		{{ if pricing_style:value === 'medals' }}
			{{# Medals style #}}
			<div class="lg:grid-cols-{{ Items | count }} grid w-full grid-cols-1 flex-col content-center gap-8 text-zinc-800 dark:text-zinc-300">
				{{ Items }}
					{{ partial:page_builder/_pricing_item popular='true' }}
				{{ /Items }}
			</div>
		{{ else }}
			{{# Item Style #}}
			<div class="isolate w-auto -space-y-[1px] text-zinc-800 dark:text-zinc-300">
				<div class="relative -z-10 mx-auto flex flex-col justify-center gap-8 rounded-b-lg bg-gradient-to-b from-zinc-300 via-transparent to-transparent p-4 pt-6 dark:from-zinc-700 lg:gap-12 lg:rounded-lg lg:p-10 lg:pt-10">
					<div class="absolute inset-[1px] rounded-b-lg bg-gradient-to-b from-white via-white to-transparent dark:from-zinc-900 dark:via-zinc-900 lg:rounded-lg"></div>
					<div class="lg:grid-cols-{{ Items | count }} grid grid-cols-1 gap-8">
						{{ Items }}
							{{ partial:page_builder/_pricing_item popular='true' }}
						{{ /Items }}
					</div>
				</div>
			</div>
		{{ /if }}
	</div>
</section>
