{{ if pricing_style:value === 'medals' }}
	{{# Medals style #}}
	<div class="{{ switch between='from-orange-500/80 | dark:from-gray-300/80 from-gray-500/80 | from-yellow-500/80' }} inset-0 rounded-[13px] bg-gradient-to-b p-0.5 dark:via-transparent dark:to-transparent">
		<div class="{{ switch between='bronze | silver | gold' }} group relative isolate mx-auto rounded-xl bg-white p-8 dark:bg-zinc-900">
			<div class="absolute right-0 z-10">
				<div class="relative -mt-12 -translate-x-8 translate-y-full transform transition duration-200 ease-linear">
					<div class="relative mx-auto -mt-8 mb-4 px-6 py-2 text-center text-xs font-semibold uppercase leading-relaxed">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hard-drive {{ switch between='text-orange-500/80 |  text-gray-500/80 dark:text-gray-300/80 | text-yellow-500/80' }}">
							<line x1="22" x2="2" y1="12" y2="12" />
							<path d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
							<line x1="6" x2="6.01" y1="16" y2="16" />
							<line x1="10" x2="10.01" y1="16" y2="16" />
						</svg>
					</div>
				</div>
			</div>
			<div class="space-y-6">
				<div class="flex items-center justify-between">
					<h2 class="{{ switch between='dark:from-orange-800 from-orange-700 dark:via-orange-500 via-orange-400 dark:to-orange-800 to-orange-500 | dark:from-gray-500 from-gray-700 dark:via-gray-600 via-gray-400 dark:to-gray-600 to-gray-500 | dark:from-yellow-500 from-yellow-700 dark:via-yellow-600 via-yellow-400 dark:to-yellow-800 to-yellow-500' }} bg-gradient-to-r bg-clip-text text-4xl !font-extrabold uppercase tracking-tighter !text-transparent">{{ title }}</h2>
				</div>
				<div class="mt-6 flex items-center space-x-3">
					<div class="text-4xl font-extrabold">${{ price }}</div>
					<div class="text-sm text-zinc-600 dark:text-zinc-300">/mo</div>
				</div>
				<div class="{{ switch between='marker:text-orange-500/80 | dark:marker:text-gray-300/80 marker:text-gray-500/80 | marker:text-yellow-500/80' }} prose prose-sm relative flex flex-col gap-2 dark:prose-invert prose-ul:text-sm">
					<ul>
						{{ features }}
							<li>{{ value }}</li>
						{{ /features }}
					</ul>
				</div>
				{{ partial:components/button label="Get Started" link_type="url" url="{{url ?? site_information:login}}" iconamic="user-circle" }}
			</div>
		</div>
	</div>
{{ else }}
	{{# Item Style #}}
	<div>
		<div class="dark:ring-zinc-700{{ if highligh }} text-white {{ /if}} relative isolate flex flex-col gap-6 rounded-lg p-6 ring-1 ring-zinc-300">
			{{ if highligh }}
				<div class="absolute right-6 top-0 -translate-y-1/2 bg-white px-4 py-2 text-sm font-bold text-purple-500 ring-2 ring-purple-400 dark:bg-zinc-900 dark:text-purple-100">{{ highligh_text }}</div>
				<div class="absolute inset-0 -z-10 rounded-lg bg-gradient-to-t from-purple-500 via-purple-500 to-purple-400"></div>
			{{ /if }}
			<div class="flex flex-col gap-4">
				<div class="relative">
					<div class="text-xl font-bold">{{ title }}</div>
					<div class="text-base">{{ description }}</div>
				</div>

				<div class="flex items-center space-x-2">
					<div class="flex items-center text-4xl font-black">
						<span class="md:text-xl">$</span>
						{{ price }}
					</div>
					{{ if price_detail }}
						<div class="[&>p]:text-xs">
							{{ price_detail }}
						</div>
					{{ else }}
						<div class="text-xs">
							/mo
							<div class="text-xs">{{ currency_values:currency }}</div>
						</div>
					{{ /if }}
				</div>
				<div>
					{{ partial:components/button label="Get Started" link_type="url" class="{{ if highligh }} from-white to-white text-zinc-800 dark:text-white  dark:from-black dark:to-black {{ /if }}" url="{{url ?? site_information:login}}" iconamic="" }}
				</div>
			</div>

			<div class="{{ if highligh }} prose-li:text-white marker:text-white {{ /if}} prose prose-sm relative flex flex-col gap-2 dark:prose-invert prose-ul:text-sm">
				<ul class="list-none">
					{{ features }}
						<li class="list {{ if highligh }} before:invert {{/if}} ">{{ value }}</li>
					{{ /features }}
				</ul>
			</div>
		</div>
		{{ if highligh }}
			<div class="mx-auto h-2 w-11/12 rounded-b bg-purple-300 opacity-75 dark:bg-purple-700"></div>
			<div class="mx-auto h-2 w-10/12 rounded-b bg-purple-300 opacity-50 dark:bg-purple-700"></div>
			<div class="mx-auto h-2 w-9/12 rounded-b bg-purple-300 opacity-25 dark:bg-purple-700"></div>
		{{ /if }}
	</div>
{{ /if }}
