<div class="relative pt-6 isolate mx-auto group">
	
	<div class="absolute right-0 z-10">
		<div class="relative -mt-12 transition duration-200 ease-linear transform -translate-x-8 translate-y-full">
			<div class="absolute inset-0 transform -skew-x-12 shadow-lg bg-gradient-to-r from-green-500 to-green-600"></div>
			<div class="relative px-6 py-2 mx-auto mb-4 -mt-8 text-xs leading-relaxed font-semibold text-center text-black uppercase">Popular</div>
		</div>
	</div>
	
	<div class="p-8 rounded space-y-6 bg-zinc-900 dark:bg-zinc-100">

		
		<div class="flex mt-2 items-center justify-between text-white dark:text-zinc-900">
			<div class="text-2xl font-bold lg:text-3xl">{{ pricing_features_title }}</div>
		</div>

		<div class="flex border-y border-zinc-700 dark:border-zinc-200 p-4 -mx-4 text-white dark:text-zinc-900 flex-row items-baseline space-x-2">
			<div class="flex">
				<span class="text-5xl font-bold" x-text="pricing ? '$990' : '$99'"></span>
				<span class="text-xl font-bold" x-text="pricing ? '.00' : '.95'"></span>
			</div>
			<span class="text-sm font-semibold" x-text="pricing ? '/month' : '/year'"></span>
		</div>

		<p class="text-base text-white dark:text-zinc-900">{{ pricing_features_list | strip_tags:p }}</p>
		<ul class="w-full text-zinc-100 dark:text-zinc-900 space-y-2">
			<li class="flex text-sm leading-6 ">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 dark:text-purple-500 text-green-500 shrink-0">
					<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
				</svg>
				<span class="ml-3">Live site previews with a collaboration UI for team members</span>
			</li>
			<li class="flex text-sm leading-6 ">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 dark:text-purple-500 text-green-500 shrink-0">
					<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
				</svg>
				<span class="ml-3">Instant rollbacks to any version</span>
			</li>
			<li class="flex text-sm leading-6 ">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 dark:text-purple-500 text-green-500 shrink-0">
					<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
				</svg>
				<span class="ml-3">Deploy static assets & dynamic serverless functions</span>
			</li>
			<li class="flex text-sm leading-6 ">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 dark:text-purple-500 text-green-500 shrink-0">
					<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
				</svg>
				<span class="ml-3">Audit logs with full history</span>
			</li>
		</ul>
		{{ partial:components/button label="Sign In" link_type="url" url="#" iconamic="user-circle" }}
	</div>
	<div class="w-11/12 h-2 mx-auto rounded-b opacity-75 bg-zinc-600 dark:text-zinc-400"></div>
	<div class="w-10/12 h-2 mx-auto rounded-b opacity-50 bg-zinc-600 dark:text-zinc-400"></div>
	<div class="w-9/12 h-2 mx-auto rounded-b opacity-25 bg-zinc-600 dark:text-zinc-400"></div>
	<div class="absolute opacity-50 -z-10 inset-0 blur-3xl bg-[conic-gradient(var(--tw-gradient-stops))] dark:from-purple-500 dark:via-green-800 dark:to-purple-500">
	</div>
</div>
