<div class="container relative w-full translate-x-1/2 scale-x-[-1]">
	<div class="ani_overlap absolute flex w-full -skew-x-[-45deg] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_10%,transparent_100%)]">
		<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
		<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
		<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
		<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
		<div class="h-[400px] w-full bg-gradient-to-r from-zinc-900/10 to-transparent dark:from-white/10"></div>
	</div>
</div>
<div class="container mx-auto space-y-10 py-12 lg:py-24">
	<div class="-ml-1.5 flex text-zinc-500 dark:text-zinc-300">
		<div class="shrink-0 text-sm">
			<div class="flex items-center">
				<a class="rounded pl-1.5 pr-[7px] text-purple-500 dark:text-green-500" href="/blog">Blog</a>
				<div class="mx-[3px] text-[11px] font-medium">/</div>
				<div class="mx-[3px] font-medium">Author</div>
				<div class="mx-[3px] text-[11px] font-medium">/</div>
			</div>
		</div>
		<div class="shrink-0 text-sm">
			<div class="px-1">{{ title }}</div>
		</div>
	</div>
	<div class="flex flex-col items-center gap-12 lg:flex-row">
		<div class="flex w-full flex-col gap-4 lg:w-2/3">
			{{ partial:typography/h1 :content="title" color='dot' }}
			{{ partial:typography/h4 :content="team:label" color='text-zinc-800 max-w-5xl [text-wrap:balance] dark:text-zinc-200 tracking-tight ' }}
			<p class="prose dark:prose-invert">{{ content | strip_tags:p }}</p>
		</div>
	</div>
	{{ collection:blog limit="12" team_member:contains="{id}" paginate="true" as='posts' sort="date:desc" }}
		<ul role="list" class="relative mt-20">
			{{ posts }}
			
				<li class="group/post relative flex md:flex-row flex-col justify-between border-t border-dashed py-6 dark:border-zinc-700">
					<a href="{{ url }}">
						<h2 class="flex-auto text-pretty text-base font-medium transition-colors text-zinc-950 group-hover/post:text-zinc-600 dark:text-white group-hover/post:dark:text-green-500 ">
								{{ title }}
						</h2>
					</a>
					<dl class=" text-zinc-600 dark:text-zinc-200 inset-x-0 left-0 top-[1.125rem] mt-0.5 flex gap-2 text-sm sm:static">
						<div class=" sm:left-0 sm:top-[1.125rem] sm:w-28 sm:flex-none md:static">
							<dt class="sr-only">Category</dt>
							<dd>
								{{ if categories }}
									{{ categories limit="1" }}
										{{ title }}
									{{ /categories }}
								{{ else }}
									Category
								{{ /if }}
							</dd>
						</div>
						<div class="flex-auto  sm:flex-none sm:text-right ">
							<dt class="sr-only">Published</dt>
							<dd class="flex md:block">
								<time datetime="{{ date iso_format='DD MMMM, YYYY' }}">{{ date iso_format="DD MMMM, YYYY" }}</time>
							</dd>
						</div>
						<div class="flex w-20 flex-none flex-row-reverse lg:w-[calc(136/16*1rem)]">
							<dt class="sr-only">Authors</dt>
							<dd class="-mr-2 first-of-type:mr-0">
								<figure class="size-6 overflow-hidden rounded-full">
									{{ partial:global/picture :image="team_member:default_image" lazy="false" }}
								</figure>
							</dd>
						</div>
					</dl>
				</li>
				
			{{ /posts }}
		</ul>
		<div class="lg:col-span-12">
			{{ if {id}c0a28a77adc427902ade6b77 > 6 }}
				{{ partial:blog/paginate }}
			{{ /if }}
		</div>
	{{ /collection:blog }}
</div>
