.prose a {
	@apply decoration-transparent underline-offset-2 transition duration-500 ease-in-out;
	&:hover {
		@apply underline decoration-purple-500 transition duration-500 ease-in-out;
	}
}
.prose a.btn:hover {
	@apply no-underline;
}

.path-line {
	stroke-dasharray: 3000;
	stroke-dashoffset: 100;
	animation: dash 5s linear alternate infinite;
	/* animation: dash 1s linear infinite; */
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
/* Shield animation */
.light1,
.light2,
.light3 {
	animation: radar 4s linear infinite;
}
/* .light1 {
	animation-delay: 2s;
} */
.light2 {
	animation-delay: 2s;
}
.light3 {
	animation-direction: reverse;
}
@keyframes radar {
	to {
		rotate: 360deg;
	}
}

/* Bento title animated line */
.gradient-background {
	@apply bg-[linear-gradient(180deg,#E4E4E7,#E4E4E7,#E4E4E7,#7a1be6,#E4E4E7,#E4E4E7,#E4E4E7)] dark:bg-[linear-gradient(180deg,#3F3F46,#3F3F46,#3F3F46,#7a1be6,#3F3F46,#3F3F46,#3F3F46)];
	background-size: 600% 600%;
	animation-fill-mode: forwards;

	-webkit-animation: gradientLine 4s ease infinite;
	-moz-animation: gradientLine 4s ease infinite;
	animation: gradientLine 4s ease infinite;
}

@-webkit-keyframes gradientLine {
	0% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
@-moz-keyframes gradientLine {
	0% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
@keyframes gradientLine {
	0% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.ani_overlap * {
	animation: FadeIn 1s ease-in-out;
	animation-fill-mode: both;
	animation-duration: ;
}

.ani_overlap *:nth-child(1) {
	animation-delay: 2s;
}
.ani_overlap *:nth-child(2) {
	animation-delay: 2s;
}
.ani_overlap *:nth-child(3) {
	animation-delay: 2s;
}
.ani_overlap *:nth-child(4) {
	animation-delay: 2s;
}
.ani_overlap *:nth-child(5) {
	animation-delay: 2s;
}
@keyframes FadeIn {
	0% {
		opacity: 0;
		transform: rotateY(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
		transform-origin: top;
	}
}

/* Scroll aanimation */

.scroll_watcher * {
	@apply translate-x-0 opacity-0;
	animation: spin linear reverse;
	animation-timeline: view();
	/* animation-range: contain; */
	&:nth-child(1) {
		animation-range: 250px;
	}
	&:nth-child(2) {
		animation-range: 250px;
	}
	&:nth-child(3) {
		animation-range: 250px;
	}
	&:nth-child(4) {
		animation-range: 250px;
	}
	&:nth-child(5) {
		animation-range: 250px;
	}
}
@keyframes spin {
	0% {
		transform: rotateY(-100deg);
		transform-origin: top;
	}
	10% {
		opacity: 1;
		transform: rotateY(0deg);
		transform-origin: top;
	}
}

.svg-icon {
	.path {
		stroke-dasharray: 100 5, 500 5, 250 5;
	}
	.path {
		animation: dash 4s linear infinite;
		animation-iteration-count: infinite;
		stroke-linecap: round;
		transition: stroke 1s ease-in-out;
	}
	@keyframes dash {
		to {
			stroke-dashoffset: 400;
		}
	}
}

.fill_ico {
	@apply bg-zinc-800 fill-zinc-800 dark:bg-zinc-100 dark:fill-zinc-100;
}
.fill_opa_ico {
	@apply bg-zinc-800/30 fill-zinc-800/30 dark:bg-zinc-100/30 dark:fill-zinc-100/30;
}
.fill_invert_ico {
	@apply bg-zinc-100 fill-zinc-100 dark:bg-zinc-800 dark:fill-zinc-800;
}
.fill_none_ico {
	@apply bg-none fill-none dark:bg-none dark:fill-none;
}
.path_ico {
	@apply stroke-zinc-800 text-zinc-800 dark:stroke-white dark:text-white;
}
.path_invert_ico {
	@apply stroke-zinc-800 text-zinc-800 dark:stroke-white dark:text-white;
}
.path_opa_ico {
	@apply stroke-zinc-800/30 text-zinc-800/30 dark:stroke-white/30 dark:text-white/30;
}
.path_none_ico {
	@apply stroke-none text-transparent dark:stroke-none dark:text-transparent;
}
/* Timeline Scroll animation */
/* .scroll_timeline li {
	span {
		animation: Fade_In_Bottom ease-out forwards;
		animation-timeline: view();
		@keyframes Fade_In_Bottom {
			49% {
				@apply bg-green-500 outline-green-500;
				opacity: 0;
			}
			50% {
				@apply bg-purple-500 outline-purple-500;
				opacity: 1;
			}
		}
	}
} */
/* .line {
	& > span {
		&:nth-child(1) {
			animation: w_expand_1 ease-out forwards;
			animation-timeline: view();
			@apply w-0 bg-purple-400 dark:bg-purple-600;
		}
		@keyframes w_expand_1 {
			50% {
				width: 53%;
			}
			100% {
				width: 53%;
			}
		}
		&:nth-child(2) {
			@apply w-0 bg-purple-300 dark:bg-purple-400;
			animation: w_expand_2 ease-out forwards;
			animation-timeline: view(47%);
		}
		@keyframes w_expand_2 {
			50% {
				width: 47%;
			}
			100% {
				width: 47%;
			}
		}
	}
} */
