.primary-action-button {
	transition: transform 0.2s cubic-bezier(0.6, 0.6, 0, 1), margin-top 0.2s cubic-bezier(0.6, 0.6, 0, 1);
}

.primary-action-button:before {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.32), transparent);
	border-radius: inherit;
	content: "";
	inset: 0;
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: xor;
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	padding: 1px;
	pointer-events: none;
	position: absolute;
}

.primary-action-button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: 1;
	transition: box-shadow 0.2s cubic-bezier(0.6, 0.6, 0, 1), background-color 0.2s cubic-bezier(0.6, 0.6, 0, 1);
}
.primary-action-button:hover:after {
	background-color: #ffffff1a;
}
