input,
textarea,
select {
	@apply block w-full px-4 py-4 leading-tight text-gray-700 transition duration-500 ease-in-out border-2 border-solid rounded-none shadow focus:ring-purple-500 focus:border-purple-500 sm:text-sm;
	border: 1px solid var(--primary);
}
input:focus,
select:focus,
textarea:focus {
	@apply outline-none ring;
}

select {
	@apply block w-full px-4 py-4 leading-tight text-gray-700 transition duration-500 ease-in-out rounded-none shadow appearance-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm;
}

label {
	@apply block text-sm font-medium text-gray-700;
}
