
{{# Price-related feature template #}}
<section class="mx-auto space-y-8 md:space-y-8 ">
	{{ display_title_section }}
		{{ partial:global/section_title }}
	{{ /display_title_section}}
	
	{{ if items | count >= 4 }}
		<div class="container grid gap-8 mx-auto md:gap-16 md:grid-cols-2">
	{{ elseif items | count >= 3 }}
		<div class="container grid justify-between gap-8 md:gap-16 md:grid-cols-3 md:flex-row ">
	{{ elseif items | count >= 2 }}
		<div class="container grid gap-8 mx-auto md:gap-16 md:grid-cols-2 md:flex-row ">
	{{ /if }}
	{{ if items | count === 1 }} 
		<div class="container grid items-center grid-cols-1 gap-8 md:gap-16 md:flex-row ">
	{{ /if }}
	{{ items }}
		<div class="w-full max-w-lg mx-auto space-y-8 group">
			{{ if default_image }}
			<div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg shadow-xl shadow-purple-500/10 group-hover:shadow-purple-500/20 aspect-w-6 aspect-h-4 group-hover:shadow-2xl">
				{{ partial:global/default_image }}
			</div>
			{{ /if }}
			<div class="flex space-x-4">
				{{ if features_columns_title }}
				<svg class="flex-none w-4 h-4 mt-2 text-purple-500" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.7463 25.8H0L5.25373 0.200048H32L26.7463 25.8Z" fill="currentColor"></path></svg>
				{{ /if }}
				<div class="flex flex-col space-y-8">
					{{ if features_columns_title }}
						<h3 class="leading-tight tracking-wide text-black">
							{{ features_columns_title | strip_tags:p }}
						</h3>
					{{ /if }}
					{{ if features_columns_subtitle }}
						<h5 class="text-black">
							{{ features_columns_subtitle | strip_tags:p }}
						</h5>
					{{ /if }}
					{{ if features_columns_list }}
						<div>
							{{ features_columns_list | strip_tags:p }}
						</div>
					{{ /if }}
					{{ if link  }}
					<div>
						{{ partial:global/buttons }}
					</div>
					{{ /if }}
				</div>
			</div>
		</div>
	{{ /items}}
</section>