{{# Partial to show the hero section of the general content pages #}}
<div class="relative flex flex-col justify-center">
    {{ partial:global/grid_lines grid="true" diagonal_lines="true" grid_number='6' }}
    <div class="relative mx-auto ">
        <div class="container grid items-center gap-8 py-12 md:py-24 md:grid-cols-2">
            <div class="max-w-lg space-y-6">
                {{ if categories }}
                <h5 class="flex-row items-center hidden space-x-2 uppercase sm:flex">
                    <div class="text-purple-500">
                        {{ categories limit="1" }} {{ title }} {{ /categories }}
                    </div>
                </h5>
                {{ /if }}
                <div class="flex flex-col items-start space-y-6 lg:flex-grow">
                    <h1 class="h1 dot">{{ hero_home_title }}</h1>
                    <div class="prose excerpt prose-p:text-red-500 ">{{ hero_home_description }}</div>
                    
                    <div class="flex-none">{{ partial:components/buttons }}</div>
                    
                </div>
            </div>

            <div class="relative">
                <div class="absolute inset-0 mx-8 my-12 transform rounded-full opacity-40 bg-gradient-to-r from-purple-500 to-green-500 md:mx-2 md:my-2 animate-blob rotate-6 background-animate filter blur-3xl"></div>
                {{ if default_image }}
                    <div class="relative">
                        <figure class="overflow-hidden rounded-lg">
                        {{ partial:global/picture :image="default_image" cover="true" lazy="false" maxwidth="768" quality='70' }}
                        </figure>
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
</div>

