{{# Feature template in a horizontal row, as more are added from the replicator they will alternate their order, they can all line up on either side. #}}
<section class="pb-8 space-y-8 lg:space-y-16">
    {{ rows }} {{ if toggle_alignment }} {{ if reverse_alignment }} {{ if { switch between="odd|even" for="Image Right First"} == "odd" }}
    <p>toggle_alignment</p>
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            {{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
            <span class="space-y-6">
                {{ if highlight_title }}<h2 class="">{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<p class="">{{ highlight_textarea | strip_tags:p }}</p>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>
        <div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}}">
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg left md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ else }}
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            {{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
            <span class="space-y-6">
                {{ if highlight_title }}<h2 class="">{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<p class="">{{ highlight_textarea | strip_tags:p }}</p>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>
        <p>toggle_alignment else</p>
        <div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}}">
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg right md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ endif }} {{ else }} {{ if { switch between="odd|even" for="Image Left First"} == "even" }}
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            {{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
            <span class="space-y-6">
                {{ if highlight_title }}<h2 class="">{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<p class="">{{ highlight_textarea | strip_tags:p }}</p>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>
        <div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg-left {{ else}} illustration-element {{ /if}}">
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg left md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ else }}
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            {{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
            <span class="space-y-6">
                {{ if highlight_title }}<h2 class="">{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<p class="">{{ highlight_textarea | strip_tags:p }}</p>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>

        <div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}}">
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg right md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ endif }} {{ endif }} {{ else }} {{ if reverse_alignment }}

    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            <span class="space-y-6">
                {{ if highlight_title }}<h2 class="">{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<p class="">{{ highlight_textarea | strip_tags:p }}</p>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>

        <div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}} ">
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg left md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ else }}
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            <span class="space-y-6">
                {{ if highlight_title }}<h2 class="">{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<p class="">{{ highlight_textarea | strip_tags:p }}</p>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>
        <div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg-left {{ else}} illustration-element {{ /if}}">
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg right md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ endif }} {{ endif }} {{ /rows}}
</section>
