{{# Feature template in a horizontal row, as more are added from the replicator they will alternate their order, they can all line up on either side. #}}
<section class="pb-8 space-y-8 lg:space-y-24">
    {{ rows }} {{ if toggle_alignment }} {{ if reverse_alignment }} {{ if { switch between="odd|even" for="Image Right First"} == "odd" }}
    <p>toggle_alignment</p>
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-24 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            {{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
            <span class="space-y-6">
                {{ if highlight_title }}<h2>{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<div class="prose">{{ highlight_textarea }}</div>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>
        <div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}}">
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg left md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ else }}
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-24 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            {{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
            <span class="space-y-6">
                {{ if highlight_title }}<h2>{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<div class="prose">{{ highlight_textarea }}</div>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>
        <p>toggle_alignment else</p>
        <div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}}">
                
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg right md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    
    {{ endif }} {{ else }} {{ if { switch between="odd|even" for="Image Left First"} == "even" }}
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-24 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            {{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
            <span class="space-y-6">
                {{ if highlight_title }}<h2>{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<div class="prose">{{ highlight_textarea }}</div>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>
        <div class="relative sm:max-w-2xl group sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }}  {{ else}} illustration-element {{ /if}}">
                {{ if  toggle_background }}
                <div class="absolute right-0 flex -space-x-6 transform translate-x-12 -translate-y-12 opacity-90">
                    <svg class="self-end w-64 text-[#F1FBFC] transition duration-300 ease-in-out delay-300 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                    <svg class="self-end w-64 text-[#F1F5FB] transition duration-200 ease-in-out delay-200 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                    <svg class="self-end w-64 text-[#F1ECFD] transition duration-100 ease-in-out delay-100 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                </div>
                {{ /if}}
                                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg left md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ else }}
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-24 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            {{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
            <span class="space-y-6">
                {{ if highlight_title }}<h2>{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<div class="prose">{{ highlight_textarea }}</div>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>

        <div class="relative group sm:max-w-2xl sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }}  {{ else}} illustration-element {{ /if}}">
                {{ if  toggle_background }}
                <div class="absolute right-0 flex -space-x-6 transform translate-x-12 -translate-y-12 opacity-90">
                    <svg class="self-end w-64 text-[#F1FBFC] transition duration-300 ease-in-out delay-300 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                    <svg class="self-end w-64 text-[#F1F5FB] transition duration-200 ease-in-out delay-200 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                    <svg class="self-end w-64 text-[#F1ECFD] transition duration-100 ease-in-out delay-100 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                </div>
                {{ /if }}
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg right md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ endif }} {{ endif }} {{ else }} {{ if reverse_alignment }}

    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-24 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            <span class="space-y-6">
                {{ if highlight_title }}<h2>{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<div class="prose">{{ highlight_textarea }}</div>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>

        <div class="relative sm:max-w-2xl group sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bgs {{ else}} illustration-element {{ /if}} ">
                {{ if  toggle_background }}
                <div class="absolute right-0 flex -space-x-6 transform translate-x-12 -translate-y-12 opacity-90">
                    <svg class="self-end w-64 text-[#F1FBFC] transition duration-300 ease-in-out delay-300 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                    <svg class="self-end w-64 text-[#F1F5FB] transition duration-200 ease-in-out delay-200 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                    <svg class="self-end w-64 text-[#F1ECFD] transition duration-100 ease-in-out delay-100 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                </div>
                {{ /if }}
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg left md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ else }}
    <div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-24 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
        <div class="space-y-6 sm:w-1/2">
            <span class="space-y-6">
                {{ if highlight_title }}<h2>{{ highlight_title }}</h2>{{ /if }}
                {{ if highlight_textarea }}<div class="prose">{{ highlight_textarea }}</div>{{ /if }}
            </span>
			{{ if link }}
            <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
                <div class="inline-full">
                    {{ partial:global/buttons }}
                </div>
            </div>
			{{ /if }}
        </div>
        <div class="relative sm:max-w-2xl group sm:mx-auto sm:w-1/2">
            <div class="mx-auto {{ if  toggle_background }} illustration-bg-lefts {{ else}} illustration-element {{ /if}}">
                {{ if  toggle_background }}
                <div class="absolute right-0 flex -space-x-6 transform translate-x-12 -translate-y-12 opacity-90">
                    <svg class="self-end w-64 text-[#F1FBFC] transition duration-300 ease-in-out delay-300 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                    <svg class="self-end w-64 text-[#F1F5FB] transition duration-200 ease-in-out delay-200 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                    <svg class="self-end w-64 text-[#F1ECFD] transition duration-100 ease-in-out delay-100 opacity-0 fill-current group-hover:translate-x-6 group-hover:opacity-100" viewBox="0 0 549 564" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304.108 0L-0.000494035 0L548.77 564V250.407L304.108 0Z" />
                    </svg>
                </div>
                {{ /if }}
                {{ if default_image }}
                <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg right md:aspect-w-6 md:aspect-h-4 group-hover:shadow-2xl group-hover:shadow-purple-300">
                    {{ partial:global/default_image }}
                </div>
                {{ /if }}

				{{ if highlight_textcaption | strip_tags:p }}
                <div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
                    <div class="relative text-gray-400">{{ highlight_textcaption | strip_tags:p }}</div>
                </div>
				{{ /if }}
            </div>
        </div>
    </div>
    {{ endif }} {{ endif }} {{ /rows}}
</section>
