{{# Feature template in a horizontal row, as more are added from the replicator they will alternate their order, they can all line up on either side. #}}
<section class="pb-8 space-y-8 lg:space-y-16 ">
	{{ rows }}
		{{ if  toggle_alignment }}

			{{ if reverse_alignment }}

				{{ if { switch between="odd|even" for="Image Right First"} == "odd" }}
				<p>toggle_alignment</p>
					<div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
						<div class="space-y-6 sm:w-1/2">
							{{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
							<span class="space-y-6 highlight_p">
								<h2 class="">{{ highlight_title }}</h2>
								<p class="">{{ highlight_textarea | strip_tags:p }}</p>
							</span>
							<div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
								<div class="inline-flex rounded-full">
								{{ partial:global/buttons }}
								</div>
							</div>
						</div>
						<div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
							<div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}}">
								{{ assets:highlight_image }}
									{{ unless extension === "gif" }}
										<img class="w-auto rounded-lg left" src="{{ glide:highlight_image width='600' height='337.5' dpr='2' quality='70' fm='webp' }}" width="600" height="337.5" alt="{{ highlight_image:cover_photo:alt }}" />
									{{ else }}
										<img class="w-auto rounded-lg left" src="{{ highlight_image }}" alt="{{ highlight_image }}" />
									{{ /if }}
								{{ /assets:highlight_image }}
								<div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
									{{ if highlight_textcaption  | strip_tags:p }}
										<div class="relative text-gray-400">{{ highlight_textcaption  | strip_tags:p }}</div>
									{{ /if }}
								</div>
							</div>
						</div>
					</div>
				{{ else }}
					<div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
						
						<div class="space-y-6 sm:w-1/2">
							{{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
							<span class="space-y-6 highlight_p">
								<h2 class="">{{ highlight_title }}</h2>
								<p class="">{{ highlight_textarea | strip_tags:p }}</p>
							</span>
							<div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
								<div class="inline-flex rounded-full">
								{{ partial:global/buttons }}
								

								</div>
							</div>
						</div>
						<p>toggle_alignment else</p>
						<div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
							<div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}}">
								{{ assets:highlight_image }}
									{{ unless extension === "gif" }}
										<img class="w-auto rounded-lg right" src="{{ glide:highlight_image width='600' height='337.5' dpr='2' quality='70' fm='webp' }}" width="600" height="337.5" alt="{{ highlight_image:cover_photo:alt }}" />
									{{ else }}
										<img class="w-auto rounded-lg right" src="{{ highlight_image }}" alt="{{ highlight_image }}" />
									{{ /if }}
								{{ /assets:highlight_image }}
								<div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
									{{ if highlight_textcaption  | strip_tags:p }}
									<div class="relative text-gray-400">{{ highlight_textcaption  | strip_tags:p }}</div>
									{{ /if }}
								</div>
							</div>
						</div>

					</div>
				{{ endif }}
			
			{{ else }}

				{{ if { switch between="odd|even" for="Image Left First"} == "even" }}
					<div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
						<div class="space-y-6 sm:w-1/2">
							{{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
							<span class="space-y-6 highlight_p">
								<h2 class="">{{ highlight_title }}</h2>
								<p class="">{{ highlight_textarea | strip_tags:p }}</p>
							</span>
							<div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
								{{ partial:global/buttons }}
								</div>
							</div>
						<div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
							<div class="mx-auto {{ if  toggle_background }} illustration-bg-left {{ else}} illustration-element {{ /if}}">
								{{ assets:highlight_image }}
									{{ unless extension === "gif" }}
										<img class="w-auto rounded-lg left" src="{{ glide:highlight_image width='600' height='337.5' dpr='2' quality='70' fm='webp' }}" width="600" height="337.5" alt="{{ highlight_image:cover_photo:alt }}" />
									{{ else }}
										<img class="w-auto rounded-lg left" src="{{ highlight_image }}" alt="{{ highlight_image }}" />
									{{ /if }}
								{{ /assets:highlight_image }}
								<div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
									{{ if highlight_textcaption  | strip_tags:p }}
									<div class="relative text-gray-400">{{ highlight_textcaption  | strip_tags:p }}</div>
									{{ /if }}
								</div>
							</div>
						</div>
					</div>
				{{ else }}
					<div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
						
						<div class="space-y-6 sm:w-1/2">
							{{# The styling of the paragraphs inside the Bard is defined in the css since a p tag is added as a container. #}}
							<span class="space-y-6 highlight_p">
								<h2 class="">{{ highlight_title }}</h2>
								<p class="">{{ highlight_textarea | strip_tags:p }}</p>
							</span>
							<div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
								<div class="inline-flex rounded-full">
								{{ partial:global/buttons }}

								</div>
							</div>
						</div>

						<div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
							<div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}}">
								{{ assets:highlight_image }}
									{{ unless extension === "gif" }}
										<img class="w-auto rounded-lg right" src="{{ glide:highlight_image width='600' height='337.5' dpr='2' quality='70' fm='webp' }}" width="600" height="337.5" alt="{{ highlight_image:cover_photo:alt }}" />
									{{ else }}
										<img class="w-auto rounded-lg right" src="{{ highlight_image }}" alt="{{ highlight_image }}" />
									{{ /if }}
								{{ /assets:highlight_image }}
								<div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
									{{ if highlight_textcaption  | strip_tags:p }}
									<div class="relative text-gray-400">{{ highlight_textcaption  | strip_tags:p }}</div>
									{{ /if }}
								</div>
							</div>
						</div>

					</div>
				{{ endif }}

			{{ endif }}	

		{{ else }}

			{{ if reverse_alignment }}

				<div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:flex-row-reverse lg:space-x-reverse sm:py-5 sm:space-y-0 max-w-7xl">
					
					<div class="space-y-6 sm:w-1/2">
						<span class="space-y-6">
							<h2 class="">{{ highlight_title }}</h2>
							<p class="">{{ highlight_textarea | strip_tags:p }}</p>
						</span>
						<div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
							<div class="inline-flex rounded-full">
								{{ partial:global/buttons }}

							</div>
						</div>
					</div>

					<div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
						<div class="mx-auto {{ if  toggle_background }} illustration-bg {{ else}} illustration-element {{ /if}} ">
								{{ assets:highlight_image }}
									{{ unless extension === "gif" }}
										<img class="w-auto rounded-lg left" src="{{ glide:highlight_image width='600' height='337.5' dpr='2' quality='70' fm='webp' }}" width="600" height="337.5" alt="{{ highlight_image:cover_photo:alt }}" />
									{{ else }}
										<img class="w-auto rounded-lg left" src="{{ highlight_image }}" alt="{{ highlight_image }}" />
									{{ /if }}
								{{ /assets:highlight_image }}
							<div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
								{{ if highlight_textcaption  | strip_tags:p }}
								<div class="relative text-gray-400">{{ highlight_textcaption  | strip_tags:p }}</div>
								{{ /if }}
							</div>
						</div>
					</div>

				</div>
			{{ else }}
				<div class="container flex flex-col items-center py-10 mx-auto space-y-6 lg:space-x-12 sm:py-5 sm:space-y-0 sm:flex-row max-w-7xl">
					<div class="space-y-6 sm:w-1/2">
						<span class="space-y-6">
							<h2 class="">{{ highlight_title }}</h2>
							<p class="">{{ highlight_textarea | strip_tags:p }} </p>
						</span>
						<div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
							<div class="inline-flex rounded-full">
								{{ partial:global/buttons }}

							</div>
						</div>
					</div>
					<div class="relative sm:max-w-2xl sm:mx-auto sm:w-1/2">
						<div class="mx-auto {{ if  toggle_background }} illustration-bg-left {{ else}} illustration-element {{ /if}}">
								{{ assets:highlight_image }}
									{{ unless extension === "gif" }}
										<img class="w-auto rounded-lg right" src="{{ glide:highlight_image width='600' height='337.5' dpr='2' quality='70' fm='webp' }}" width="600" height="337.5" alt="{{ highlight_image:cover_photo:alt }}" />
									{{ else }}
										<img class="w-auto rounded-lg right" src="{{ highlight_image }}" alt="{{ highlight_image }}" />
									{{ /if }}
								{{ /assets:highlight_image }}
							<div class="absolute right-0 max-w-md sm:left-5 sm:right-5 -bottom-10">
								{{ if highlight_textcaption  | strip_tags:p }}
								<div class="relative text-gray-400">{{ highlight_textcaption  | strip_tags:p }}</div>
								{{ /if }}
							</div>
						</div>
					</div>
				</div>
			{{ endif }}

		{{ endif }}

		
	{{ /rows}}
</section>	