
<div {{ if section_id }} id="{{ section_id }}" {{ /if }} class="container relative sm:mx-auto">
    
    {{ if toggle }}
    <div class="absolute inset-0 mx-auto transform md:shadow-xl md:-skew-x-6 bg-gradient-to-r from-purple-500 to-purple-700 "></div>
    {{ /if }}
    <div class="relative grid space-y-6 {{ if toggle }}text-white{{ /if }} p-6 md:p-12 md:grid-cols-3 md:space-x-6 md:space-y-0">

        <div class="flex flex-col items-center justify-center space-y-4 text-center md:col-span-2 md:space-y-0 md:space-x-16 md:flex-row lg:text-left">
            {{ if default_image }}
                {{ if toggle }}
                <div class="relative flex items-center justify-center">
                    <div class="absolute inset-y-0 p-4 px-12 mx-auto transform -skew-x-6 bg-purple-700 shadow-xl bg-gradient-to-r "></div>
                    <img class="relative w-24 h-24" src="{{ default_image }}">
                </div>
                {{ else }}
                <div>
                <div class="relative flex items-center justify-center">
                    <div class="absolute inset-y-0 p-4 px-12 mx-auto transform -skew-x-6 shadow-xl bg-gradient-to-r from-purple-500 to-purple-700 "></div>
                    <img class="relative w-24 h-24" src="{{ default_image }}">
                </div>
                </div>
                {{ /if }}
            {{ /if }}


            <div class="space-y-4">
                <h2 class="{{ if toggle }}text-white{{ /if }}">{{ title }}</h2>
                <div class="text-xl {{ if toggle }}text-white {{ /if }}">{{ bard }}</div>
            </div>

        </div>

        <div class="flex flex-row items-center justify-center w-full ">
            <div class="flex flex-col justify-center w-full space-y-6 text-center md:space-y-0 md:space-x-6 md:flex-row">
                {{# <input type="text" placeholder="example@email.com" class=""> #}}
                <div class="flex-none">
                    {{ if link }} {{ partial:global/buttons }} {{ /if }}
                </div>
            </div>
        </div>

    </div>


</div>
