{{# Two columns of markdown text, divided into equal parts. #}}
<section class="container space-y-8 ">
	{{ display_title_section }}
	<div class="max-w-xl space-y-2">
		<h2 class="dot h2 ">{{ partial:global/section_title ?? center_title_title }}</h2>
	</div>
	{{ /display_title_section}}

	{{ if columns | count >= 4 }}
		<div class="grid gap-12 mx-auto md:grid-cols-2">
	{{ elseif columns | count >= 3 }}
		<div class="grid justify-between gap-12 md:grid-cols-3 md:flex-row">
	{{ elseif columns | count >= 2 }}
		<div class="grid gap-12 mx-auto md:grid-cols-2 md:flex-row">
	{{ /if }}
	{{ if columns | count === 1 }} 
		<div class="grid items-center grid-cols-1 gap-12 md:flex-row">
	{{ /if }}
            {{ columns }}
            <div class="w-full mx-auto prose md:prose-lg lg:prose-xl prose-purple ">
                {{ markdown }}
            </div>
            {{ /columns }}
        </div>
</section>