{{# Price-related feature template #}}
<section class="container px-4 mx-auto space-y-8 sm:px-8 lg:px-16 xl:px-20 md:space-y-16 max-w-7xl">
	{{ if items | count >= 4 }}
		<div class="grid max-w-5xl gap-8 mx-auto md:grid-cols-2">
	{{ elseif items | count >= 3 }}
		<div class="grid justify-between gap-8 md:grid-cols-3 md:flex-row ">
	{{ elseif items | count >= 2 }}
		<div class="grid max-w-5xl gap-8 mx-auto md:grid-cols-2 md:flex-row ">
	{{ /if }}
	{{ if items | count === 1 }} 
		<div class="grid items-center grid-cols-1 gap-8 md:flex-row ">
	{{ /if }}
				{{ items }}
					{{# Container #}}
					<div class="relative w-full max-w-lg pb-2 pr-2 mx-auto">
						<div class="absolute inset-0 mt-2 ml-2 bg-purple-500"></div>
						<div class="relative w-full h-full p-6 bg-white border border-gray-900 shadow-lg md:p-10 lg:space-y-10">
							<div class="grid items-center w-full gap-4 space-y-4 sm:grid-cols-1">
								<div class="space-y-4">
									{{ if pricing_features_title }}
										<h3 class="text-3xl font-black leading-tight tracking-wide text-black sm:text-3xl josefin">
											{{ pricing_features_title }}
										</h3>
									{{ /if }}
									{{ if pricing_features_subtitle }}
										<h4 class="text-2xl font-light josefin">
											{{ pricing_features_subtitle }}
										</h4>
									{{ /if }}
									<hr class="hidden w-full border border-purple-500 border-opacity-50 pricing_features sm:block" />
									{{ if pricing_features_list }}
										<div class="flex-col space-y-2 space-y-6 text-gray-900 pricing-table">
											{{ pricing_features_list | strip_tags:p }}
										</div>
									{{ /if }}
								</div>
							</div>
						</div>
					</div>
				{{ /items}}
			</div>

</section>