{{# <section class="text-gray-800 bg-gradient-to-r from-green-100 to-purple-100">
	<div class="container py-12 mx-auto sm:py-24">
		<div class="grid items-center gap-8 xl:grid-cols-5">
			<div class="max-w-2xl mx-auto space-y-4 text-center xl:col-span-2 xl:text-left">
				<h2 class="h2">{{ testimonial_section_title }}</h2>
				<p>{{ testimonial_text_area }}</p>
			</div>
			<div class="xl:col-span-3">
				<div class="grid gap-8 md:grid-cols-2">
					<div class="grid content-center gap-8">
						{{ Items limit="2" }}
						<div class="p-8 bg-white rounded-lg shadow-xl">
							{{ testimonial_textarea }}
							<div class="flex items-start space-x-4">
								<img src="{{ glide:testimonial_image dpr='2' fm='webp' }}" alt="" class="w-12 h-12 bg-gray-500 bg-center bg-cover rounded-full">
								<div class="space-y-1">
									<div class="text-lg font-semibold text-purple-500">{{ testimonial_name }}</div>
									<div class="text-sm">{{ testimonial_position }}</div>
								</div>
							</div>
						</div>
						{{ /Items }}
					</div>
					<div class="grid content-center gap-8">
						{{ Items offset="2" limit="3" }}
						<div class="p-8 bg-white rounded-lg shadow-xl">
							{{ testimonial_textarea }}
							<div class="flex items-start space-x-4">
								<img src="{{ glide:testimonial_image dpr='2' fm='webp' }}" alt="" class="w-12 h-12 bg-gray-500 bg-center bg-cover rounded-full">
								<div class="space-y-1">
									<div class="text-lg font-semibold text-purple-500">{{ testimonial_name }}</div>
									<div class="text-sm">{{ testimonial_position }}</div>
								</div>
							</div>
						</div>
						{{ /Items }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section> #}}


select:'info'
select="info"

<div class="container space-y-12 md:space-y-24">
	{{ if title_testimonial }}
	<div class="mx-auto space-y-8 text-center md:max-w-2xl">
		<h2 class="h2">{{ title_testimonial }}</h2>
		<p class="excerpt">{{ testimonial_textarea }}</p>
	</div>
	{{ /if }}
	<div class="flex flex-col gap-8 space-y-8 justify-evenly md:flex-row md:space-y-0 ">
		{{ testimonial }}
		<div class="flex flex-row items-start max-w-md">    
			<div class="flex flex-col space-y-6">
				<div class="{{ switch between='bg-sitehost-orange/30 | bg-sitehost-green/30 | bg-sitehost-blue/30' }} p-8 rounded-xl space-y-4 relative">
					<div class="relative space-y-4">
						
						<p class="prose">{{ quote }}</p>
						{{ if link  }}
						{{ partial:global/buttons select="info" }}
						{{ /if }}
					</div>
					<svg class="absolute bottom-4 right-4  {{ switch between='text-sitehost-orange/30 | text-sitehost-green/30 | text-sitehost-blue/30' }}" width="33" height="28" viewBox="0 0 33 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.0353 27.9398C23.362 26.9131 26.5886 24.8598 28.7153 21.7798C30.9153 18.6265 32.0153 14.6665 32.0153 9.89981V0.549805H21.2353V13.7498H26.1853C26.0386 16.0965 25.3786 18.0765 24.2053 19.6898C23.1053 21.3031 21.382 22.4031 19.0353 22.9898V27.9398ZM0.665283 27.9398C4.91862 26.9131 8.10862 24.8598 10.2353 21.7798C12.4353 18.6265 13.5353 14.6665 13.5353 9.89981V0.549805H2.86528V13.7498H7.81528C7.59528 16.0965 6.89861 18.0765 5.72528 19.6898C4.62528 21.3031 2.93862 22.4031 0.665283 22.9898V27.9398Z" fill="CurrentColor"/>
					</svg>
				</div>
				<div class="flex items-center space-x-4">
					{{ if default_image }}
						<div class="w-12 h-12 overflow-hidden bg-white border-4 rounded-full shadow-2xl {{ switch between='border-sitehost-orange/30 | border-sitehost-green/30 | border-sitehost-blue/30' }}  aspect-square">
                        <figure>
                        {{ partial:global/picture :image="default_image" cover="false" lazy="true" sizes="(min-width: 768px) 33vw, 90vw" }}
                        </figure>
						</div>
					{{ /if }}
					<div >
						<div class="text-base font-semibold text-dark-900">{{ name }}</div>
						<div class="text-base text-dark-600">{{ position }}</div>
					</div>
				</div>
			</div>
		</div>
		{{ /testimonial }}
	</div>
</div>
