
<div class="space-y-12 md:space-y-24">
	{{ if title_testimonial }}
	<div class="mx-auto space-y-8 text-center md:max-w-2xl">
		<div class="text-purple-500 h3">Testimonial</div>
		<h2 class="h2">{{ title_testimonial }}</h2>
		{{# <p class="excerpt">{{ testimonial_textarea | strip_tags:p }}</p> #}}
	</div>
	{{ /if }}
	<div class="relative">
		<span class="absolute h-full w-[110%] transform opacity-20 -translate-x-10 -z-10 -rotate-6 bg-gradient-to-r from-green-500 to-purple-400"></span>
		<div class="container relative flex flex-col gap-8 space-y-8 justify-evenly md:flex-row md:space-y-0">
			{{ testimonial }}
				{{ partial:general_content/testimonial_card }}
			{{ /testimonial }}
		</div>
	</div>
</div>
