<div class="flex items-center space-x-2">
	<span
		class="text-base transition duration-200 ease-in-out text-zinc-500" x-text="pricing ? '' : 'billed monthly'"
		:class="pricing == true ? '-translate-y-4 opacity-0 ' : ' translate-y-0 opacity-1  '"
		>10.00
	</span>
	<span
		class="text-base transition duration-200 ease-in-out text-zinc-500" x-text="pricing ? 'billed yearly' : ''"
		:class="pricing == true ? ' translate-y-0 opacity-1 ' : ' translate-y-4 opacity-0 '"
		>10.00
	</span>
	<div
		class="w-10 h-6 p-1 ml-auto transition duration-200 ease-in-out rounded-full pointer-events-auto ring-1 ring-inset ring-black/20"
		:class="pricing == true ? 'bg-purple-500 ' : ' bg-zinc-900/10 ring-zinc-900/5 '"
		@click="pricing = !pricing"
	>
		<div
			class="w-4 h-4 transition duration-200 ease-in-out bg-white rounded-full shadow-sm ring-1 ring-zinc-700/10"
			:class="pricing == false ? 'translate-x-4 ' : '  '"
		></div>
	</div>
</div>