<div class="container flex items-center justify-center" x-data="{ toggle: '0' }">
	<div class="mr-3 font-medium text-right text-gray-500">Billed Yearly</div>
	<div class="relative h-8 transition duration-200 ease-linear rounded-full w-14" :class="[toggle === '1' ? 'bg-purple-500' : 'bg-gray-400']">
		<label
			for="toggle"
			class="absolute left-0 w-8 h-8 transition duration-100 ease-linear transform bg-white border-4 rounded-full cursor-pointer"
			:class="[toggle === '1' ? 'translate-x-full border-purple-500' : 'translate-x-0 border-gray-400']"
		></label>
		<input type="checkbox" id="toggle" name="toggle" class="w-full h-full border-none shadow-none outline-none appearance-none focus:ring-0 active:outline-none focus:outline-none" @click="toggle === '0' ? toggle = '1' : toggle = '0'" />
	</div>
	<div class="ml-3 font-medium text-gray-500">Billed Monthly</div>
</div>