{{# Template for the landing page while the main website pages haven't been added #}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js" integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<body class="">
    {{ partial:global/nav }}
    {{ partial:home/hero_home }}
    {{ partial:global/section-title }}
    <div class="h-96"></div>
    {{ partial:global/footer }}
</body>
