{{ if mini_form }}
	<div class="container relative mx-auto py-12 lg:py-24">
		<div class="-mx-6 px-32 first:mt-0 last:mb-0">
			<div class="content-stretch grid-cols-12 gap-12 rounded-2xl bg-purple-500 p-8 pl-16 sm:grid">
				<div class="col-span-6 flex flex-col justify-center gap-6 lg:max-w-lg">
					<h2 class="dot text-2xl font-bold tracking-tight text-purple-50 dark:text-purple-50 lg:text-3xl xl:text-4xl">Get Started Today</h2>
					<p class="text-zinc-200">Try Cloud Hosting for seven days, and if it’s not for you we’ll refund your money back.</p>
					{{ partial:components/subscribe_form }}
				</div>
				<div class="col-span-6 flex flex-col text-center">
					<div class="relative w-full">
						<div class="mt-6 sm:-mr-12 sm:-mt-12">
							<img loading="lazy" class="w-full" src="/img/Ill_test.png" style="color: transparent" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ else }}
	<div class="content-stretch {{ class }} rounded-2xl p-8">
		<div class="mx-auto flex w-full flex-col gap-2">
			<div class="flex items-center gap-2 text-lg font-semibold text-zinc-800 dark:text-zinc-200">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-plus">
					<path d="M22 13V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h8" />
					<path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
					<path d="M19 16v6" />
					<path d="M16 19h6" />
				</svg>
				Subscribe to get notify
			</div>
			{{ partial:components/subscribe_form }}
		</div>
	</div>
{{ /if }}
{{#
  <form class="relative max-w-sm">
  <label for="email" class="mb-2 block text-sm font-medium text-zinc-900 dark:text-white">Your email</label>
  <div class="relative mt-2">
  <label for="email" class="relative">
  <input type="email" name="email" id="email" placeholder="name@website.com" class="peer w-full appearance-none rounded-lg border border-green-300 bg-inherit p-3 text-zinc-800 shadow shadow-zinc-100 outline-none focus:ring-4 focus:ring-green-300 dark:border-green-600 dark:bg-zinc-100 dark:text-zinc-500 dark:placeholder-zinc-400 dark:focus:border-green-500 dark:focus:ring-green-500 valid:[&:not(:placeholder-shown):not(:focus)]:border-lime-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500" placeholder=" " required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
  <span class="peer-[&:not(:placeholder-shown):not(:focus):invalid]:block absolute mt-1 ml-1 hidden text-xs text-red-500">Please enter a valid email address</span>
  </label>
  <button type="submit" class="end-0 rounded-e-lg absolute top-0 h-full w-full bg-green-700 px-5 py-2.5 text-center text-sm font-medium text-zinc-900 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 group-invalid:pointer-events-none group-invalid:opacity-50 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 sm:w-auto">Submit</button>
  </div>
  </form>
#}}
