{{# Template for blog post pagination #}}
{{ paginate }}
	<ul class="pagination [&>li>a]bg-purple-500 container mx-auto flex w-full items-center justify-center gap-4 text-sm [&>li>a]:px-2 [&>li>a]:py-1 [&>li>a]:text-zinc-500 hover:[&>li>a]:text-white">
		{{ if prev_page }}
			<li>
				<a class="flex items-center gap-2" href="{{ prev_page }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left inline-block"><path d="m15 18-6-6 6-6" /></svg>
					<p class="mr-3 text-sm font-medium leading-none">Previous</p>
				</a>
			</li>
		{{ else }}
			<li class="text-zinc-700"><span></span></li>
		{{ /if }}
		{{ links:segments }}
			{{ first }}
				{{ if page == current_page }}
					<li class="active text-purple-500"><span>{{ page }}</span></li>
				{{ else }}
					<li><a href="{{ url }}">{{ page }}</a></li>
				{{ /if }}
			{{ /first }}
			{{ if slider }}
				<li class="text-zinc-700"><span>...</span></li>
			{{ /if }}
			{{ slider }}
				{{ if page == current_page }}
					<li class="active text-purple-500"><span>{{ page }}</span></li>
				{{ else }}
					<li><a href="{{ url }}">{{ page }}</a></li>
				{{ /if }}
			{{ /slider }}
			{{ if slider || (!slider && last) }}
				<li class="text-zinc-700"><span>...</span></li>
			{{ /if }}
			{{ last }}
				{{ if page == current_page }}
					<li class="active text-purple-500"><span>{{ page }}</span></li>
				{{ else }}
					<li><a href="{{ url }}">{{ page }}</a></li>
				{{ /if }}
			{{ /last }}
		{{ /links:segments }}
		{{ if next_page }}
			<li>
				<a class="flex items-center gap-2" href="{{ next_page }}">
					<p class="mr-3 text-sm font-medium leading-none">Next</p>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide size-6 lucide-chevron-right inline-block"><path d="m9 18 6-6-6-6" /></svg>
				</a>
			</li>
		{{ else }}
			<li class="text-zinc-700"><span></span></li>
		{{ /if }}
	</ul>
{{ /paginate }}
