{{# Partial template for non-featured blog posts, used in the blog index grid and related blog entries #}}
{{ if square }}
	<a class="group flex flex-col gap-y-5 p-3 text-zinc-800 lg:p-8" href="{{ url }}">
		<div class="{{ switch between=' | lg:order-first' }} relative flex flex-col">
			<div>
				<div class="mb-2 text-sm font-medium leading-none text-purple-500 dark:text-green-500">
					<span>
						{{ if categories }}
							{{ categories limit="1" }}
								{{ title }}
							{{ /categories }}
						{{ else }}
							Category
						{{ /if }}
					</span>
				</div>
				<h2 class="before:top-sm relative mb-2 font-semibold leading-tight text-zinc-800 before:absolute before:-left-3 before:-top-px before:h-6 before:w-px before:bg-purple-500 dark:text-zinc-200 dark:before:bg-green-500 lg:before:-left-8 lg:before:w-1">{{ title }}</h2>
				<p class="mb-4 text-sm text-zinc-700 dark:text-zinc-400">{{ excerpt }}</p>
			</div>
		</div>
	</a>
{{ else }}
	<a class="{{ switch between='lg:col-span-5 | lg:col-span-4 | lg:col-span-3 | lg:col-span-3 | lg:col-span-4 | lg:col-span-5' }} {{ container_class }} group isolate flex flex-col gap-y-5 rounded-lg bg-white p-3 text-zinc-800 dark:bg-zinc-900 lg:p-8" href="{{ url }}">
		{{ slot }}
		<div class="h-full w-full overflow-hidden rounded-lg object-cover">
			{{ partial:global/picture :image="default_image" cover="true" lazy="false" maxwidth="768" quality='70' }}
		</div>
		<div class="{{if flip}} {{ switch between=' | lg:order-first' }} {{/if}} flex flex-col">
			<div>
				<div class="mb-2 text-sm font-medium leading-none text-purple-500 dark:text-green-500">
					<span>
						{{ if categories }}
							{{ categories limit="1" }}
								{{ title }}
							{{ /categories }}
						{{ else }}
							Category
						{{ /if }}
					</span>
				</div>
				<h2 class="before:top-sm relative mb-2 text-xl font-semibold leading-tight before:absolute before:-left-3 before:-top-px before:h-6 before:w-px before:bg-purple-500 dark:before:bg-green-500 lg:before:-left-8 lg:before:w-1">{{ title }}</h2>
				<p class="mb-4 text-base text-zinc-700 dark:text-zinc-400">{{ excerpt }}</p>
			</div>
			{{ partial:components/author link='false' }}
		</div>
	</a>
{{ /if }}
