{{# Template for a blog entry #}}

{{# Scroll Progress #}}
<div x-data="scrollProgress" class="fixed inset-x-0 top-0 z-50">
    <div class="h-1 bg-gradient-to-r from-purple-500 to-green-500" :style="`width: ${percent}%`"></div>
</div>


{{ partial:global/grid_lines reflect="false" }}

<div class="container relative space-y-8 lg:space-y-16">
    <div class="grid grid-cols-2 gap-4 pt-12 pb-6 lg:grid-cols-6 lg:pb-12 lg:pt-24">
        <div class="col-span-2 space-y-8 lg:col-span-3">
            <div>
                {{ if categories }}
                    <div class="font-medium text-purple-500 uppercase">
                        {{ categories  limit="1" }}  {{ title }} {{ /categories }}
                    </div>
                {{ /if }}
                <h1 class="text-5xl font-semibold lg:leading-tight ">{{ title }}</h1>
            </div>
            {{ if subheader }}
                <p class="text-2xl text-slate-400 ">{{ subheader }}</p>
            {{ /if }}
        </div>
        <div class="relative col-span-2 col-start-2 lg:col-start-5 lg:-translate-y-28 translate-y-28">
            <div class="absolute w-full h-96 lg:h-screen -z-10 bg-gradient-to-t from-green-500 to-purple-500 opacity-20"></div>
            <div class="absolute w-full h-96 lg:h-screen -z-10 ">
                <svg class="absolute bottom-0 w-full -z-20 " viewBox="0 0 482 482" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M482 0V482H0L482 0Z" fill="#fff"/>
                </svg>
            </div>
            

        </div>
        
    </div>

    <div class="grid gap-5 lg:space-x-12 lg:space-x-reverse lg:grid-cols-2">
        <div class="z-10 order-first col-span-1 lg:order-last ">
            <figure class="overflow-hidden rounded-lg">
                {{ partial:global/picture :image="default_image" cover="true" lazy="true" sizes="(min-width: 768px) 33vw, 90vw" }}
            </figure>
        </div>

    
    {{# Blog content #}}
    <article class="mx-auto prose prose-xl max-w-none prose-purple">
        {{ content }}
    </article>

    
    </div>

    {{ if {collection:count in="blog"} > 1 }}
        {{ partial:blog/latest_news }}
    {{ /if }}


    <div class="z-20 back-to-top-wrapper">
        <a href="#top" class="bg-white border border-purple-200 back-to-top-link" aria-label="Scroll to Top">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</div>



<script>
	const scrollProgress = () => {
		return {
			init() {
				window.addEventListener('scroll', () => {
					let winScroll = document.body.scrollTop || document.documentElement.scrollTop
					let height = document.documentElement.scrollHeight - document.documentElement.clientHeight
					this.percent = Math.round((winScroll / height) * 100)
				})
			},
			circumference: 30 * 2 * Math.PI,
			percent: 0,
		}
	}
</script>


