{{# Template for blog index page #}}

<body>
    {{ partial:blog/nav }}
    <div class="absolute w-full my-12 sm:my-0 h-1/2 sm:h-2/3 light-purple"></div>
    {{# Check for Stickied post  #}}
    {{ if stickied_post && (get:page == "1" || !get:page) }}

        {{ stickied_post }}
            {{ partial:blog/featured_post }}
        {{ /stickied_post }}

        {{# Non-featured posts. To enable pagination set true and change limit to 6 #}}
        {{ collection:blog limit="0" paginate="false" as="posts" sort="date:desc" id:isnt=stickied_post:id }}
            {{ partial:blog/post }}
            <!-- Paginator -->
            {{ partial:blog/paginate }}
        {{ /collection:blog }}

        {{ partial:blog/footer}}

    {{# If no stickied post use most recent post  #}}
    {{ else }}

        {{ collection:blog sort="date:desc" limit="1" }}
            {{ if get:page == "1" || !get:page }}
                {{ partial:blog/featured_post}}
            {{ /if }}
        {{ /collection:blog }}

        {{# Non-featured posts. To enable pagination set true and change limit to 6 #}}
        <section class="container pt-24">
            <div class="w-full mx-auto">
                <div class="grid grid-cols-1 gap-8 sm:grid-cols-3 related-post">
                    {{ collection:blog limit="0" paginate="false" sort="date:desc" offset="1" }}
                    {{ partial:blog/post }}
                    <!-- Paginator -->
                    {{ /collection:blog }}
                </div>
                {{ partial:blog/paginate }}
            </div>
        </section>

        {{ partial:blog/footer}}

    {{ /if }}

</body>

