<body>
    {{ partial:blog/nav }}
    <div class="hidden sm:block cover">
        <!-- <img src="https://source.unsplash.com/user/freeche/1600x480"> -->
    </div>

    {{ if stickied_blog_post && (get:page == "1" || !get:page) }}
        {{ stickied_blog_post:post }}
            {{ partial:blog/featured_post }}
        {{ /stickied_blog_post:post }}

        {{ collection:blog limit="0" paginate="false" as="posts" sort="date:desc" id:isnt=stickied_blog_post:post:id }}
            {{ partial:blog/post }}
            <!-- Paginator -->
            {{ partial:paginate }}
        {{ /collection:blog }}

        {{ partial:blog/footer}}

    {{ else }}

        {{ collection:blog sort="date:desc" limit="1" }}
            {{ if get:page == "1" || !get:page }}
                {{ partial:blog/featured_post}}
            {{ /if }}
        {{ /collection:blog }}

        {{ collection:blog limit="0" paginate="false" as="posts" sort="date:desc" offset="1" }}
            {{ partial:blog/post }}
            <!-- Paginator -->
            {{ partial:paginate }}
        {{ /collection:blog }}
        {{ partial:blog/footer}}
    {{ /if }}

</body>

