{{ form:contact_us }}
	{{ if success }}
		<div class="mb-8 rounded-md bg-green-500 p-4 text-zinc-800">
			<div class="text-xl font-bold">Thank you for getting in touch!</div>
			<p>We appreciate you contacting us. One of our staff will be in touch with you soon! Have a great day!</p>
		</div>
	{{ /if }}
	{{# <div class="grid grid-cols-6 gap-6 [&>div>input]:mt-2 dark:[&>div>input]:border-zinc-700 dark:[&>div>input]:bg-zinc-800 dark:[&>div>label]:text-green-200 [&>div>textarea]:mt-2 dark:[&>div>textarea]:border-zinc-700 dark:[&>div>textarea]:bg-zinc-800"> #}}
	<div class="grid grid-cols-6 gap-6 [&>div>input]:mt-1 [&>div>label]:text-sm">
		{{ fields }}
			{{ if first || count == 2 }}
				<div class="col-span-6 sm:col-span-3">
					<label for="contact-{{ handle }}" class="">{{ display }}</label>
					<input value="{{ old }}" type="text" name="{{ handle }}" id="contact-{{ handle }}" class="" />
					{{ if error }}
						<p class="mt-2 text-sm text-red-500">{{ error }}</p>
					{{ /if }}
				</div>
			{{ elseif handle == 'comment' }}
				<div class="col-span-6">
					<label for="contact-{{ handle }}" class="">{{ display }}</label>

					<textarea name="{{ handle }}" id="contact-{{ handle }}" rows="3" class="" placeholder="Message...">{{ old }}</textarea>
					{{ if error }}
						<p class="mt-2 text-sm text-red-500">{{ error }}</p>
					{{ /if }}
					<p class="mt-2 text-sm text-zinc-500">Let us know how we can help.</p>
				</div>
			{{ else }}
				<div class="col-span-6 sm:col-span-6">
					<label for="contact-{{ handle }}" class="">{{ display }}</label>
					<input value="{{ old }}" type="text" name="{{ handle }}" id="contact-{{ handle }}" class="" />
					{{ if error }}
						<p class="mt-2 text-sm text-red-500">{{ error }}</p>
					{{ /if }}
				</div>
			{{ /if }}
		{{ /fields }}
		<div class="col-span-6 sm:col-span-6">
			{{ captcha }}
			{{ if error:captcha }}
				<p class="mt-2 text-sm text-red-500">{{ error:captcha }}</p>
			{{ /if }}
		</div>
	</div>

	<button type="submit" onclick="gtag('event', 'click', {'event_category': 'button', 'event_label': 'Contact Form Submit'})" class="primary-action-button group relative relative inline-flex w-fit select-none items-center space-x-2 whitespace-nowrap rounded-lg bg-gradient-to-b from-purple-500 to-purple-600 py-2 pl-5 pr-4 text-white no-underline shadow-xl shadow-black/30 focus:outline-none focus-visible:ring motion-safe:transition dark:shadow-black/40">
		<span>Submit</span>
		<svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
		</svg>
	</button>
{{ /form:contact_us }}
