{{# Call to action #}}

{{# <section class="relative py-8 text-black lg:py-16 fill-bg">
    <div class="absolute inset-0 w-full overflow-visible bg-white "></div>
	<div class="container relative flex flex-col items-center justify-between max-w-6xl space-y-10 sm:space-x-10 sm:space-y-0 xl:space-y-0 sm:flex-row">
		<div class="max-w-md space-y-6 text-black lg:max-w-lg">
		</div>

        <div class="relative flex items-center justify-center space-x-6 lg:pl-8 illustration-element">
            <div class="flex flex-col items-end space-y-6">
                    <img class="object-cover bg-white rounded-lg left h-28 filter blur-md sm:h-48 xl:h-56 w-28 sm:w-48 xl:w-56" src="https://source.unsplash.com/600x900/?website" alt=""/>
                    <img class="object-cover w-40 h-40 bg-white rounded-lg left filter blur-md sm:h-64 xl:h-80 sm:w-64 xl:w-80" src="https://source.unsplash.com/600x900/?tech" alt="" />
            </div>
            <div class="left">
                <img class="object-cover w-40 h-40 bg-white rounded-lg left sm:h-64 xl:h-80 sm:w-64 xl:w-80" src="https://source.unsplash.com/600x900/?app" alt="" />
            </div>
        </div>
	</div>		
</section> #}}

<section class="w-full bg-white">
    <div class="relative items-center w-full px-5 mx-auto md:px-12 lg:px-16 lg:py-16">
        <div class="flex w-full mx-auto text-left">
            <div class="relative inline-flex items-center mx-auto align-middle">
                <div class="pb-12 text-center">
                    {{ partial:global/section_title }}
                    <form action="" method="post" id="revue-form" name="revue-form" target="_blank" class="flex flex-col justify-between w-full space-y-4 text-center md:flex-row md:space-y-0 md:space-x-4">
                        <input type="email" class="flex-1" placeholder="john@example.com" />
                        <div class="flex-none">
                            {{ partial:global/buttons }}
                        </div>
                    </form>
                    <div class="sm:max-w-lg sm:flex md:mx-auto">
                        <p class="mt-3 text-sm text-gray-500">{{ call_to_action_terms | strip_tags:p }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>