{{# Grid logo gallery #}}
<section class="container mx-auto space-y-12 md:space-y-24 ">

    <div class="flex flex-col items-center space-y-10 text-center">
        <p class="text-black h2 ">{{ companies_title }}</p>
    </div>

        <div class="relative flex justify-center w-full">
            <div class="absolute duration-1000 opacity-25 inset-1 rounded-xl blur-2xl bg-gradient-to-b from-purple-500/30 to-green-500"></div>
            <div class="relative space-y-6 ">
                {{# if 3 images are included #}}
                {{if company | count >= 1 }} 
                    <div class="grid justify-center grid-flow-col gap-5 auto-cols-max">
                    {{ company  limit="5" }}
                        {{# limit the loop to 3 images #}}
                        {{ if default_image }}
                            <div class="flex items-center justify-center px-6 py-4 mx-auto overflow-hidden bg-white rounded-lg shadow-lg shadow-neutral-500/20 w-44 sm:w-full">
                                <figure class="max-w-xs ">
                                    {{ partial:global/picture :image="default_image" cover="true" lazy="true" parent='xs' sizes="(min-width: 768px) 8vw, 90vw" }}
                                </figure>
                            </div>
                        {{ /if }}
                    {{ /company }}
                    </div>
                {{ /if }}
                {{# if more then 3 images are included #}}
                {{if company | count >= 3 }}
                    <div class="grid justify-center grid-flow-col gap-5 auto-cols-max">
                    {{ company  limit="12" offset="5" }}
                        {{# limit the loop to the first 6 images and skip the first 3 images. #}}
                        {{ if default_image }}
                            <div class="flex items-center justify-center px-6 py-4 mx-auto overflow-hidden bg-white rounded-lg shadow-lg shadow-neutral-500/20 w-44 sm:w-full">
                                <figure class="max-w-xs ">
                                    {{ partial:global/picture :image="default_image" cover="true" lazy="true" sizes="(min-width: 768px) 8vw, 90vw" }}
                                </figure>
                            </div>
                        {{ /if }}
                    {{ /company }}
                    </div>
                {{ /if }}
                {{# if more then 4 images are included #}}
            </div>
        </div>
        {{# <div class="absolute duration-1000 translate-y-6 blur-2xl -inset-4 bg-gradient-to-b from-white/0 to-white"></div> #}}

</section>