{{# Partial to display images and if not found display the default image. #}}
{{ if !cover_image }}
    {{ assets:default_image }}
        {{ unless extension === "gif" }}
            <img class="object-cover object-center w-full h-full lg:w-full lg:h-full" src="{{ glide:default_image width='400' height='225' dpr='2' quality='70' fm='webp' }}" {{ if default_image | get:alt }} alt="{{ default_image | get:alt }}" {{ else }} alt="{{ title }}"{{ /if }} />
        {{ else }}
            <img class="object-cover object-center w-full h-full lg:w-full lg:h-full" src="{{ default_image }}" {{ if default_image | get:alt }} alt="{{ default_image | get:alt }}" {{ else }} alt="{{ title }}" {{ /if }} />
        {{ /if }}
    {{ /assets:default_image }}
    
{{ else }}
    {{ assets:cover_image }}
        {{ unless extension === "gif" }}
            <img class="object-cover object-center w-full h-full lg:w-full lg:h-full" src="{{ glide:cover_image width='400' height='225' dpr='2' quality='70' fm='webp' }}"  {{ if default_image | get:alt }} alt="{{ default_image | get:alt }}" {{ else }} alt="{{ title }}" {{ /if }} />
        {{ else }}
            <img class="object-cover object-center w-full h-full lg:w-full lg:h-full" src="{{ cover_image }}" {{ if default_image | get:alt }} alt="{{ default_image | get:alt }}" {{ else }} alt="{{ title }}" {{ /if }} />
        {{ /if }}
    {{ /assets:cover_image }}
{{ /if }}


