<div class="container max-w-7xl">
  <div class="inset-0 flex items-center justify-center overflow-hidden transition duration-500 ease-in-out transform rounded-lg shadow-lg aspect-w-16 aspect-h-9 group-hover:shadow-2xl">
    {{ if video | is_embeddable }}
    <!-- Youtube and Vimeo -->
    <iframe src="{{ video | embed_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    {{ else }}
    <!-- Other HTML5 video types -->
    <video src="{{ video | embed_url }}" ...></video>
    {{ /if }}
  </div>
</div>