{{# Footer #}}
<footer class="isolate pt-8">
	{{ partial:global/libraries }}
	<script src="/js/main.min.js?{{ config:app:cache_timestamp }}" defer></script>
	<div class="relative mx-auto -mb-10 w-full px-6 sm:px-8 lg:-mb-8 xl:max-w-[1536px]">
		<div class="relative z-10 w-fit bg-white p-4 dark:bg-zinc-900">
			{{ partial:global/logo }}
		</div>
	</div>
	<div class="relative border-t border-zinc-200/70 pb-12 dark:border-zinc-500/20 sm:pb-16 md:pb-32">
		<div class="relative mx-auto mt-12 flex w-full flex-col items-stretch justify-between px-6 text-sm text-zinc-700 dark:text-zinc-500 sm:-mt-8 sm:flex-row sm:space-y-0 sm:px-8 lg:px-12 xl:max-w-[1536px]">
			<div class="order-2 mt-12 flex flex-col justify-between gap-4 sm:order-1 sm:mt-16">
				<p class="font-mono text-xs">
					{{ company_information:copyright }}
					{{ now | format:Y }}
				</p>
				<div class="flex items-center gap-4">
					<a title="Twitter profile" class="inline-block text-zinc-700 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200" href="{{ social_media:twitter }}">
						{{ svg src="{{config:iconamic:path}}/twitter.svg" class='size-4' }}
					</a>
					<a title="Github profile" class="inline-block text-zinc-700 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200" href="{{ social_media:github }}">
						{{ svg src="{{config:iconamic:path}}/github.svg" class='size-4' }}
					</a>
					<a title="Linkedin profile" class="inline-block text-zinc-700 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200" href="{{ social_media:linkedin }}">
						{{ svg src="{{config:iconamic:path}}/linkedin.svg" class='size-4' }}
					</a>
					<a title="Facebook profile" class="inline-block text-zinc-700 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200" href="{{ social_media:facebook }}">
						{{ svg src="{{config:iconamic:path}}/facebook.svg" class='size-4' }}
					</a>
					<a title="RSS" class="inline-block text-zinc-700 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200" href="{{ social_media:rss }}">
						{{ svg src="{{config:iconamic:path}}/rss.svg" class='size-4' }}
					</a>
				</div>
			</div>

			<div class="order-1 flex space-x-8 sm:order-2 sm:space-x-16">
				{{ nav:footer }}
					<div>
						<div class="mb-6 text-xs font-bold uppercase tracking-wider text-purple-500 dark:text-green-500 sm:mb-12">
							{{ title }}
						</div>
						<ul class="space-y-2 text-zinc-700 dark:text-zinc-400">
							{{ children }}
								<li>
									<a class="text-base hover:text-zinc-500 dark:hover:text-green-500" href="{{ url }}">{{ title }}</a>
								</li>
							{{ /children }}
						</ul>
					</div>
				{{ /nav:footer }}
			</div>
		</div>
	</div>
</footer>
