<div class="absolute inset-0 flex flex-col justify-center transform -tranred-y-6 -z-10 ">
    {{# This container creates the vertical lines of the grid, the empty
    elements allow to create the 6 internal columns and hide 3 when viewed on
    smaller screens. #}}
    <div class="container max-w-7xl relative py-0 h-full grid grid-flow-col grid-cols-2 gap-8 overflow-visible
        {{# {{ if grid }} grid-lines {{ /if }} #}}
        {{ if grid_number == '4'}}lg:grid-cols-4{{/if}}
        {{ if grid_number == '6'}}lg:grid-cols-6{{/if}}
        ">
        {{ if grid_number == '4'}}
            <span class="block border-x border-zinc-100 dark:border-slate-700/30"></span>
            <span class="block border-x border-zinc-100 dark:border-slate-700/30"></span>
            <span class="hidden lg:block border-x border-zinc-100 dark:border-slate-700/30"></span>
            <span class="hidden lg:block border-x border-zinc-100 dark:border-slate-700/30"></span>
        {{/if}}
        {{ if grid_number == '6'}}
            <span class="block border-x border-zinc-100 dark:border-slate-700/30"></span>
            <span class="block border-x border-zinc-100 dark:border-slate-700/30"></span>
            <span class="hidden lg:block border-x border-zinc-100 dark:border-slate-700/30"></span>
            <span class="hidden lg:block border-x border-zinc-100 dark:border-slate-700/30"></span>
            <span class="hidden lg:block border-x border-zinc-100 dark:border-slate-700/30"></span>
            <span class="hidden lg:block border-x border-zinc-100 dark:border-slate-700/30"></span>
        {{/if}}
    </div>
    {{ if  diagonal_lines}}
        <svg
            class="absolute text-zinc-500 dark:text-green-500/40  {{ if reflect }} scale-y-[-] {{ /if }}"
            width="2386"
            height="948"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M1974.25 1.263 1028.3 947.207"
                stroke="url(#a)"
                stroke-opacity=".2"
            />
            <path
                d="M1905.78 1.263 959.834 947.207"
                stroke="url(#b)"
                stroke-opacity=".2"
            />
            <path
                d="m2111.19 1.263-945.95 945.944"
                stroke="url(#c)"
                stroke-opacity=".2"
            />
            <path
                d="m2042.72 1.263-945.95 945.944"
                stroke="url(#d)"
                stroke-opacity=".2"
            />
            <path
                d="m2248.12 1.263-945.94 945.944"
                stroke="url(#e)"
                stroke-opacity=".2"
            />
            <path
                d="m2179.65 1.263-945.94 945.944"
                stroke="url(#f)"
                stroke-opacity=".2"
            />
            <path
                d="m2385.06 1.263-945.94 945.944"
                stroke="url(#g)"
                stroke-opacity=".2"
            />
            <path
                d="m2316.59 1.263-945.94 945.944"
                stroke="url(#h)"
                stroke-opacity=".2"
            />
            <path
                d="M1837.31 1.263 891.365 947.207"
                stroke="url(#i)"
                stroke-opacity=".2"
            />
            <path
                d="M1768.84 1.263 822.895 947.207"
                stroke="url(#j)"
                stroke-opacity=".2"
            />
            <path
                d="M1700.37 1.263 754.426 947.207"
                stroke="url(#k)"
                stroke-opacity=".2"
            />
            <path
                d="M1631.9 1.263 685.957 947.207"
                stroke="url(#l)"
                stroke-opacity=".2"
            />
            <path
                d="M1563.43 1.263 617.488 947.207"
                stroke="url(#m)"
                stroke-opacity=".2"
            />
            <path
                d="M1494.96 1.263 549.018 947.207"
                stroke="url(#n)"
                stroke-opacity=".2"
            />
            <path
                d="M1426.49 1.263 480.549 947.207"
                stroke="url(#o)"
                stroke-opacity=".2"
            />
            <path
                d="M1358.02 1.263 412.08 947.207"
                stroke="url(#p)"
                stroke-opacity=".2"
            />
            <path
                d="M1289.55 1.263 343.61 947.207"
                stroke="url(#q)"
                stroke-opacity=".2"
            />
            <path
                d="M1221.08 1.263 275.14 947.207"
                stroke="url(#r)"
                stroke-opacity=".2"
            />
            <path
                d="M1152.61 1.263 206.671 947.207"
                stroke="url(#s)"
                stroke-opacity=".2"
            />
            <path
                d="M1084.15 1.263 138.202 947.207"
                stroke="url(#t)"
                stroke-opacity=".2"
            />
            <path
                d="M1015.68 1.263 69.732 947.207"
                stroke="url(#u)"
                stroke-opacity=".2"
            />
            <path
                d="M947.206 1.263 1.262 947.207"
                stroke="url(#v)"
                stroke-opacity=".2"
            />
            <defs>
                <linearGradient
                    id="a"
                    x1="1974.25"
                    y1="1.263"
                    x2="1028.3"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="b"
                    x1="1905.78"
                    y1="1.263"
                    x2="959.834"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="c"
                    x1="2111.19"
                    y1="1.263"
                    x2="1165.24"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="d"
                    x1="2042.72"
                    y1="1.263"
                    x2="1096.77"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="e"
                    x1="2248.12"
                    y1="1.263"
                    x2="1302.18"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="f"
                    x1="2179.65"
                    y1="1.263"
                    x2="1233.71"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="g"
                    x1="2385.06"
                    y1="1.263"
                    x2="1439.12"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="h"
                    x1="2316.59"
                    y1="1.263"
                    x2="1370.65"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="i"
                    x1="1837.31"
                    y1="1.263"
                    x2="891.365"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="j"
                    x1="1768.84"
                    y1="1.263"
                    x2="822.895"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="k"
                    x1="1700.37"
                    y1="1.263"
                    x2="754.426"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="l"
                    x1="1631.9"
                    y1="1.263"
                    x2="685.957"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="m"
                    x1="1563.43"
                    y1="1.263"
                    x2="617.488"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="n"
                    x1="1494.96"
                    y1="1.263"
                    x2="549.018"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="o"
                    x1="1426.49"
                    y1="1.263"
                    x2="480.549"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="p"
                    x1="1358.02"
                    y1="1.263"
                    x2="412.08"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="q"
                    x1="1289.55"
                    y1="1.263"
                    x2="343.61"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="r"
                    x1="1221.08"
                    y1="1.263"
                    x2="275.14"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="s"
                    x1="1152.61"
                    y1="1.263"
                    x2="206.671"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="t"
                    x1="1084.15"
                    y1="1.263"
                    x2="138.202"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="u"
                    x1="1015.68"
                    y1="1.263"
                    x2="69.732"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                    id="v"
                    x1="947.206"
                    y1="1.263"
                    x2="1.262"
                    y2="947.206"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="currentColor" />
                    <stop offset="1" stop-color="currentColor" stop-opacity="0" />
                </linearGradient>
            </defs>
        </svg>
    {{ /if }}
</div>


{{# <div class="container absolute px-0 -inset-8 ">
    <div class="grid w-full h-full grid-cols-8 ">
        <div class="col-span-2 border-l border-red-100 "></div>
        <div class="col-span-2 border-l border-red-100 "></div>
        <div class="col-span-2 border-red-100 border-x "></div>
        <div class="col-span-2 border-r border-red-100 "></div>
    </div>
</div> #}}