<div class="relative z-10 ">
	<div class="absolute opacity-40 dark:opacity-20 -inset-1 bg-gradient-to-r from-purple-500 to-green-500 dark:from-green-500 dark:to-purple-500 rounded-xl filter blur-lg dark:blur-2xl"></div>

	<div class="relative w-full p-4 bg-white text-zinc-700 dark:text-zinc-200 dark:bg-zinc-900">
		<div x-data="{ open: false }" class="flex flex-row items-center justify-between mx-auto ">
			{{# Logo #}}
			<div class="flex flex-row items-center justify-between">

				{{ partial:global/_logo }}
			
			</div>

			{{# Desktop menu #}}
			<nav class="flex flex-row items-center justify-end flex-grow space-x-4" role="navigation">

				{{# Main nav #}}
				<div class="relative items-center hidden ml-auto lg:flex">
					<nav class="text-sm font-semibold leading-6 text-zinc-700 dark:text-zinc-200">
						<ul class="flex space-x-8">
							{{ nav:main_menu show_unpublished="true" }}
							{{ if children }}
								<li>
									<div @click.away="open = false" class="relative" x-data="{ open: false }">
										<button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm text-left bg-transparent dark:bg-transparent dark:focus:text-white dark:hover:text-white dark:focus:bg-zinc-600 dark:hover:bg-zinc-600 md:w-auto md:inline md:mt-0 md:ml-4 hover:text-zinc-900 focus:text-zinc-900 hover:bg-zinc-200 focus:bg-zinc-200 focus:outline-none focus:shadow-outline">
										<span>{{ title }}</span>
										<svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
											<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
										</button>
										<div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="right-0 w-full origin-top-right rounded-md sm:mt-2 sm:shadow-lg sm:absolute md:w-48">
										<div class="px-2 py-2 bg-white rounded-md lg:shadow dark:bg-zinc-800">
											{{ children }}
											<a role="menuitem" class="block px-4 text-sm py-2 mt-2 bg-transparent dark:bg-transparent dark:hover:bg-zinc-600 dark:focus:bg-zinc-600 dark:focus:text-white dark:hover:text-white dark:text-zinc-200 md:mt-0 hover:text-zinc-900 focus:text-zinc-900 hover:bg-zinc-200 focus:bg-zinc-200 focus:outline-none focus:shadow-outline {{ if is_current || is_parent }} dark:text-green-400 text-purple-500 {{ /if }} " href="{{ url }}">{{ title }}</a>
											{{ /children }}
										</div>
										</div>
									</div>
								{{ else }}
								<li>
									<a role="menuitem" class="px-4 md:px-2 flex items-center relative group py-2 mt-2 bg-transparent dark:bg-transparent text-sm dark:focus:bg-zinc-600 dark:focus:text-white {{ if is_current || is_parent }} dark:text-green-400 text-purple-500 {{ /if }} dark:hover:text-white dark:text-zinc-200 md:mt-0 md:ml-4 hover:text-zinc-900 focus:text-zinc-900 focus:bg-zinc-200 focus:outline-none focus:shadow-outline" href="{{ url }}">
										<span class="absolute hidden md:block left-0 w-0 h-0.5 transition-all bg-purple-500 dark:bg-green-500 -bottom-3 group-hover:w-full"></span>
										{{ title }}
									</a>
								</li>
							{{ /if }}            
							{{ /nav:main_menu }}
						</ul>
					</nav>
				</div>

				<div class="flex items-center space-x-4 lg:border-l lg:pl-6 lg:ml-6 lg:border-zinc-200 lg:dark:border-zinc-800">
					{{ partial:documentation/_theme_toggle class="hidden sm:block" }}
					{{ partial:components/button label="Sign In" link_type="url" url="#" iconamic="user-circle" }}
				</div>

				{{# Open mobile menu button #}}
				<button class="flex lg:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
					<span class="sr-only">Navigation</span>
					<svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
						<path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
						<path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
					</svg>
				</button>

			</nav>

			{{# modal mobile menu #}}
			<div :class="{'flex': open, 'hidden': !open}" class="fixed inset-0 z-50 sm:hidden" role="dialog" aria-modal="true">
				<div class="fixed inset-0 bg-black/20 backdrop-blur-sm dark:bg-zinc-900/80" aria-hidden="true"></div>
				<div class="fixed w-full max-w-xs p-6 text-base font-semibold bg-white rounded-lg shadow-lg top-4 right-4 text-zinc-900 dark:bg-zinc-800 dark:text-zinc-400 dark:highlight-white/5">
					<button @click="open = !open" type="button" class="absolute flex items-center justify-center w-8 h-8 top-5 right-5 text-zinc-500 hover:text-zinc-600 dark:text-zinc-400 dark:hover:text-zinc-300" tabindex="0">
						<span class="sr-only">Close navigation</span>
						<svg viewBox="0 0 10 10" class="w-2.5 h-2.5 overflow-visible" aria-hidden="true"><path d="M0 0L10 10M10 0L0 10" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path></svg>
					</button>
					<ul class="space-y-6">
						{{ nav:main_menu show_unpublished="true" }}
							{{ if children }}
								<div @click.away="open = false" class="relative" x-data="{ open: false }">
									<button @click="open = !open" class="hover:text-purple-500 dark:hover:text-purple-400">
									<span>{{ title }}</span>
									<svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
										<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
									</button>
									<div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="right-0 w-full origin-top-right rounded-md sm:mt-2 sm:shadow-lg sm:absolute md:w-48">
									<div class="flex flex-col pt-6 pl-1 space-y-6">
										{{ children }}
										<a role="menuitem" class="hover:text-purple-500 {{ if is_current || is_parent }} dark:text-green-400 text-purple-500 {{ /if }} dark:hover:text-purple-400" href="{{ url }}"> {{ title }} </a>
										{{ /children }}
									</div>
									</div>
								</div>
								{{ else }}
								<li>
									<a class="hover:text-purple-500 dark:hover:text-purple-400" href="{{ url }}">{{ title }}</a>
								</li>
							{{ /if }}
						{{ /nav:main_menu }}
					</ul>
					<div class="pt-6 mt-6 space-y-6 border-t border-zinc-200 dark:border-zinc-200/10">
						<div class="flex items-center justify-between">
							<label for="theme" class="font-normal text-zinc-700 dark:text-zinc-400">Switch theme</label>
							{{ partial:documentation/_theme_toggle }}
						</div>
						{{# {{ partial:components/button label="Sign In" link_type="url" url="#" iconamic="user-circle" }} #}}

					</div>
				</div>
			</div>

		</div>
	</div>
</div>




