{{#
    https://1{{quality}}2.studio/journal/responsive-images-with-statamic-tailwind-and-glide
#}}

{{# /global/_picture.antlers.html #}}
{{ if image }}
    <picture>
        {{ asset :url="image" }}
            {{ if extension == 'svg' || extension == 'gif' }}
                <img class="{{ class }}" src="{{ url }}" alt="{{ alt }}" height='{{ height }}' width='{{ width }}'  />
            {{ else }}
                <img
                    {{ if cover }}
                        class="object-cover  w-full h-full {{ class }}"
                        style="object-position: {{ focus | background_position }}"
                    {{ else }}
                        class="{{ class }}"
                    {{ /if }}
                    src="{{ glide:image fit='crop_focal' {{ if maxheight }} height='{{ maxheight }}' {{ /if }} width='{{ maxwidth }}' quality='{{quality}}'}}"
                    srcset="
                    {{ glide:image width='280' quality='{{quality}}' format='webp' }} 280w,
                    {{ glide:image width='480' quality='{{quality}}' format='webp' }} 480w,
                    {{ glide:image width='560' quality='{{quality}}' format='webp' }} 560w,
                    {{ glide:image width='840' quality='{{quality}}' format='webp' }} 840w,
                    {{ glide:image width='960' quality='{{quality}}' format='webp' }} 960w,
                    "
                    alt="{{ alt ensure_right='.' }}"
                    width="{{ maxwidth }}"
                    height="{{ maxheight }}"
                    {{ if lazy }} loading="lazy" {{ /if }}
                >
            {{ /if }}
        {{ /asset }}
    </picture>
{{ /if }}
{{# End: /global/_picture.antlers.html #}}