{{#
    https://1902.studio/journal/responsive-images-with-statamic-tailwind-and-glide
#}}

{{# /global/_picture.antlers.html #}}
{{ if image }}
    <picture>
        {{ asset :url="image" }}
            {{ if extension == 'svg' || extension == 'gif' }}
                <img class="{{ class }}  " src="{{ url }}" alt="{{ alt }}" />
            {{ else }}
                <source
                    srcset="
                        {{ glide:image fit='crop_focal' {{ if maxheight }} height='{{ maxheight }}' {{ /if }} width='{{ maxwidth }}' quality='{{quality}}' format='webp'}} 1x,
                        {{ glide:image fit='crop_focal' {{ if maxheight }} height='{{ maxheight | multiply:2 }}'  {{ /if }} width='{{ maxwidth | multiply:2 }}' quality='{{quality}}' format='webp'}} 2x,
                        "
                    sizes="{{ sizes }}"
                    type="image/webp"
                >
                <source
                    srcset="
                        {{ glide:image fit='crop_focal' {{ if maxheight }} height='{{ maxheight }}' {{ /if }} width='{{ maxwidth }}' quality='{{quality}}' }} 1x,
                        {{ glide:image fit='crop_focal' {{ if maxheight }} height='{{ maxheight | multiply:2 }}'  {{ /if }} width='{{ maxwidth | multiply:2 }}' quality='{{quality}}'}} 2x,
                        "
                    sizes="{{ sizes }}"
                    type="{{ image.mime_type }}"
                >
                <img
                    {{ if cover }}
                        class="object-cover  w-full h-full {{ class }}"
                        style="object-position: {{ focus | background_position }}"
                    {{ else }}
                        class="{{ class }}"
                    {{ /if }}
                    src="{{ glide:image fit='crop_focal' {{ if maxheight }} height='{{ maxheight }}' {{ /if }} width='{{ maxwidth | multiply:2 }}' quality='{{quality}}'}}"
                    alt="{{ alt ensure_right='.' }}"
                    width="{{ image.width }}"
                    height="{{ image.height }}"
                    {{ if lazy }}
                        loading="lazy"
                    {{ /if }}
                >
            {{ /if }}
        {{ /asset }}
    </picture>
{{ /if }}
{{# End: /global/_picture.antlers.html #}}