{{# Global Image view #}}
{{# /global/_picture.antlers.html #}}

{{ if image }}
    {{ asset :url="image" }}
        {{ _sizes = '(min-width: 400px) 50vw, (min-width: 768px) 75vw, 100vw' }}
        {{ _class = class }}
        
        <picture>
            {{ if image.mime_type === 'image/gif' || image.mime_type === 'image/svg' }}
            <img alt="{{ image.alt }}"
                class="{{ if _class }} {{ _class }} {{ else }} max-w-full {{ /if }}"
                height="{{ image.height }}"
                src="{{ image }}"
                width="{{ image.width }}">
            {{ else }}
            
            {{# First we try to load webp version of images for better optimisation and pagespeed score. #}}
            <source
                sizes="{{ _sizes }}"
                srcset="{{ glide:image preset="webp-xs" }} 320w,
                        {{ glide:image preset="webp-sm" }} 480w,
                        {{ glide:image preset="webp-md" }} 768w,
                        {{ glide:image preset="webp-lg" }} 1280w,
                        {{ glide:image preset="webp-xl" }} 1440w,
                        {{ glide:image preset="webp-2xl" }} 1680w"
                type="image/webp"
            >

            {{# Secondary srcset is only used in the event the browser or device does not support the webp srcset above. #}}
            <source
                sizes="{{ _sizes }}"
                srcset="{{ glide:image preset="xs" }} 320w,
                        {{ glide:image preset="sm" }} 480w,
                        {{ glide:image preset="md" }} 768w,
                        {{ glide:image preset="lg" }} 1280w,
                        {{ glide:image preset="xl" }} 1440w,
                        {{ glide:image preset="2xl" }} 1680w"
                type="{{ image.mime_type }}"
            >

            {{# This is the final fallback if for some reason none of the source tags match. #}}
            <img alt="{{ image.alt }}"
                class="{{ if _class }} {{ _class }} {{ else }} max-w-full {{ /if }}"
                height="{{ image.height }}"
                src="{{ glide:image preset='xl' }}"
                {{ if lazy }} loading="lazy" {{ /if }}
                {{ if fetchpriority }} fetchpriority="high" {{ /if }}
                width="{{ image.width }}"
            >
            {{ /if }}
        </picture>
    {{ /asset }}
{{ /if }}
{{# End: /global/_picture.antlers.html #}}



