<div class="container title-section primary">
    <h3>More features in a h3</h3>
    <h2>This is a h3 with purple background</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit optio molestias expedita laboriosam inventore illo amet velit ipsa ducimus blanditiis deleniti distinctio, consequatur maxime tenetur nemo delectus nulla. Aliquid, nisi.
    </p>
</div>
<div class="container title-section secondary">
    <h3>More features in a h3</h3>
    <h2>This is a h3 with Green background</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit optio molestias expedita laboriosam inventore illo amet velit ipsa ducimus blanditiis deleniti distinctio, consequatur maxime tenetur nemo delectus nulla. Aliquid, nisi.
    </p>
</div>