{{#
  @name Prose
  @desc The typography prose partial to render a prose object with `class` attribute.
  @param as The wrapping element. Defaults to `article`.
  @param class Add custom CSS classes.
#}}

<!-- /typography/_prose.antlers.html -->
<{{ as or 'article' }} class="{{#
  prose-a:hover:text-purple-700
  prose-a:decoration-transparent
  prose-a:hover:decoration-purple-500
  prose-a:hover:underline
  prose-a:hover:transition
  prose-a:ease-in-out
  prose-a:duration-200
  prose-a:hover:ease-in-out
  prose-a:hover:duration-700
  prose-a:underline-offset-2
#}}   {{ class }} prose prose-zinc prose-purple dark:prose-invert 2xl:prose-xl prose-headings:text-zinc-700 prose-p:[text-wrap:pretty] prose-a:text-purple-500 prose-figure:my-0 prose-strong:text-current prose-pre:whitespace-pre-wrap prose-pre:bg-[#282c34] prose-hr:border-zinc-500 dark:prose-headings:text-zinc-100 dark:prose-a:text-green-500 dark:prose-pre:bg-[#282c34] dark:prose-hr:border-zinc-600 2xl:prose-p:text-2xl [&>ul>li>p]:my-0">
	{{ slot }}
</{{ as or 'article' }}>
<!-- End: /typography/_prose.antlers.html -->
