.prose ol > li::before {
    @apply text-purple-500;
}
.prose ul > li::before {
    @apply bg-purple-500 rounded-none;
}
::marker,
.prose ::marker {
    @apply hidden text-purple-500 bg-purple-500;
    content: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3731 13.6668H0L2.62687 0.333496H16L13.3731 13.6668Z' fill='%23871EFF'/%3E%3C/svg%3E%0A");
}
.prose ul > li::marker,
.prose ol > li::marker {
    @apply hidden;
}

article p img {
    @apply mx-auto text-center justify-self-center;
}

.excerpt,
.excerpt p {
    @apply mb-8 text-2xl;
}
@screen sm {
    .excerpt,
    .excerpt p {
        @apply text-3xl leading-10;
    }
    * > p:last-child {
        margin-bottom: 1rem;
    }
}
.prose {
    p {
        color: #425466;
        widows: 3;
    }

    ul > li {
        /* @apply pl-0; */
    }

    blockquote {
        @apply relative p-8 pl-8 text-sm not-italic border-l-8 border-purple-400 shadow-lg bg-purple-50;
        *:last-child {
            margin-bottom: 0;
        }
    }

    blockquote::before {
        @apply absolute inset-0 block text-6xl font-bold text-purple-300 top-2 left-2;
        content: "\201C"; /*Unicode for Left Double Quote*/
        font-family: Georgia, serif;
    }

    table th {
        @apply text-purple-500;
    }

    table table table {
        background-color: #fff;
    }

    table tbody > tr:nth-child(odd) > td,
    table tbody > tr:nth-child(odd) > th {
        @apply bg-purple-100;
    }
    tbody td:first-child {
        @apply pl-4;
    }
    tbody td:last-child {
        @apply pr-4;
    }
    pre {
        @apply bg-purple-900;
    }
}
