
.prose ol > li::before {
	@apply text-purple-500;
}
.prose ul > li::before {
	@apply bg-purple-500 rounded-none;
	
}
::marker {
	@apply hidden;
}
.prose ul > li::marker, .prose ol > li::marker {
	@apply hidden
}

article p img {
	@apply mx-auto text-center justify-self-center;
}

.excerpt {
	@apply mb-8 text-2xl;
}
@screen sm {
	.excerpt {
		@apply text-3xl leading-10;
	}
}


.prose {

	ul > li {
		@apply pl-0;
	}

	blockquote {
		@apply relative p-8 text-sm not-italic bg-purple-100 bg-opacity-50 border-2 border-l-8 border-purple-400 shadow-lg;
		*:last-child {
			margin-bottom: 0;
		}
	}

	blockquote::before {
		@apply absolute inset-0 block text-6xl font-black text-purple-300 top-2 left-2;
		content: "\201C"; /*Unicode for Left Double Quote*/
		font-family: Georgia, serif;
	}

	table th {
		@apply text-purple-500;
	}

	table table table {
		background-color: #FFF;
	}

	table tbody > tr:nth-child(odd) > td,
	table tbody > tr:nth-child(odd) > th {
		@apply bg-purple-100;
	}
	tbody td:first-child {
		@apply pl-4;
	}
	tbody td:last-child {
		@apply pr-4;
	}
	pre {
		@apply bg-purple-900;
	}
}

/* Article hover animation */
.related-post {
	@apply transition duration-500 ease-in-out transform scale-100 translate-x-0;
	figure > img {
		@apply transition duration-500 ease-in-out transform shadow-lg;
	}
	h3 {
		@apply text-black transition duration-500 ease-in-out transform;
	}
	&:hover figure > img {
		@apply transition duration-500 ease-in-out transform shadow-2xl;
	}
	&:hover h3 {
		@apply transition duration-500 ease-in-out transform text-primary;
	}
	&:hover.container h3 {
		@apply text-black;
	}
	&:hover {
		.cta {
			@apply underline;
			&:after {
				@apply transition duration-500 ease-in-out transform translate-x-2;
			}
		}
	}
}
@screen md {
	article {
		.chevron-path {
			z-index: 10;
			clip-path: polygon(100% 0%, 100% 100%, 2% 100%, 2% 90%, 2% 86%, 2% 82%, 2% 0%);
			transition: clip-path 0.5s;
		}
		&:hover {
			.chevron-path {
				transition: clip-path 0.5s;
				clip-path: polygon(100% 0%, 100% 100%, 2% 100%, 2% 90%, 0% 86%, 2% 82%, 2% 0%);
			}
		}
		&:hover {
			.order-first {
				@apply transition-all duration-700 ease-in-out;
				background: linear-gradient(90deg, rgba(177, 109, 255, 1) 0%, rgba(135, 30, 255, 1) 100%);
				img {
					mix-blend-mode: multiply;
					filter: saturate(0%);
					@apply transition-all duration-700 ease-in-out;
				}
			}
		}
		.order-first {
			@apply transition-all duration-700 ease-in-out;
			background: linear-gradient(90deg, rgba(177, 109, 255, 0) 0%, rgba(135, 30, 255, 0) 100%);
			img {
				filter: saturate(100%);
				mix-blend-mode: normal;
				@apply transition-all duration-700 ease-in-out;
			}
		}
	}
}