::selection {
	@apply bg-purple-500 text-white dark:bg-green-500 dark:text-zinc-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-zinc-900 [text-wrap:balance] dark:text-zinc-100;
	text-rendering: optimizeLegibility;
}

p,
ul,
ol {
	@apply text-base antialiased md:text-xl;
	text-rendering: optimizeLegibility;
}
.h1 {
	@apply text-4xl  font-black md:text-6xl;
}
.h2 {
	@apply text-3xl font-bold 2xl:text-5xl;
}
.h3 {
	@apply text-xl font-medium sm:text-5xl;
}
.h4 {
	@apply text-xl font-medium md:text-2xl;
}
.h5 {
	@apply text-lg font-medium md:text-xl;
}
.h6 {
	@apply text-lg font-medium;
}
.p {
	@apply leading-relaxed;
}
.dot {
	@apply relative;
	&::after {
		@apply absolute bottom-0 mb-2 ml-1 size-2 -skew-x-6 transform bg-purple-500 dark:bg-green-500;
		content: "";
	}
}
@screen md {
	pre {
		@apply p-6;
	}
}
.hr {
	@apply mx-4 my-8 border-t border-solid;
	border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(220, 220, 220, 1), rgba(0, 0, 0, 0)) 100;
}

hr {
	@apply my-8;
}

table {
	@apply mb-8 w-full table-auto text-left leading-7;
}

thead {
	@apply border-b border-gray-300 font-medium;
}

thead th {
	@apply px-2 pb-2 align-bottom;
}

tbody tr {
	@apply border-b border-gray-200;
}

tbody tr:last-child {
	@apply border-b-0;
}

tbody td {
	@apply p-2 align-top;
}

figcaption {
	@apply mt-2 text-sm leading-none;
}
